.announce {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 32px;
  background-color: #2296CB;

  &__items {
    padding: 0 2rem;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-align: center;
    color: $color_white;

    &:empty {
      display: none;
    }
  }

  &__close {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translate(-50%, -50%);
    color: $color_white;

    @media screen and (max-width: 576px) {
      right: 0;
    }

    &:hover {
      cursor: pointer;
    }

    &__icon {
      @media screen and (max-width: 576px) {
        width: 20px;
      }
    }
  }
}

.header {
  height: 70px;
  position: sticky;
  top: 0;
  z-index: 10;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04);

  .line-stylish {
    position: relative;

    // &:hover {
    //   background-color: #e4e4e4;
    // }

    a {
      line-height: 54px;
    }
  }

  .nav-link-stylish {
    color: white !important;
    text-transform: uppercase;
    font-size: small;
  }

  .nav-item {
    .nav-link{
      font-size: 13px;
      text-transform: inherit;
    }

    &:hover .dropdown-container{
      visibility: visible;
      opacity: 1;
    }
  }

  .dropdown-container {
    position: absolute;
    background: #eeeeee;
    visibility: hidden;
    opacity: 0;
    min-width: 125px;
    width: max-content;
    transition: all 0.3s ease;
    left: 0;
    margin-top: -1px;
    z-index: 1;

    &:hover {
      visibility: visible;
      opacity: 1;
    }


    .withchild {
      position: relative;
      padding-right: 2.75rem;

      &::before
      {
        content: "\276F";
        font-size: 12px;
        position: absolute;
        right: 1rem;
        top: 50%;
        -webkit-transform: translate(-50%,-50%);
          -ms-transform: translate(-50%,-50%);
              transform: translate(-50%,-50%);
      }

      &:hover
      {
        background-color: #dbdbdb;
        cursor: pointer;

        & > .subchild
        {
          visibility: visible;
          opacity: 1;
        }
      }

      & > a.withchild
      {
        padding-right: 0;

        &::before
        {
          content: "";
        }
      }

      .subchild {
        position: absolute;
        background: #e4e4e4;
        visibility: hidden;
        opacity: 0;
        min-width: 125px;
        width: max-content;
        transition: all 0.3s ease;
        left: 100%;
        top: 0;
        z-index: 2;

        div:hover {
          background-color: #dbdbdb;
          cursor: pointer;
        }
      }
    }

    a {
      text-transform: uppercase;
      color: rgba(0, 0, 0, 1);
      font-size: small;
      padding: 0.5rem;
      display: block;
      line-height: 30px;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .nav {
    &-stylish {
      border: none;
      background-color: $color_white;
      justify-content: space-between;
      height: 70px;
      min-height: 0;
      padding: 0;
      width: 100%;
      z-index: 1;
    }

    &-logo {
      height: 50px;

      &__placeholder {
        width: 105px;
        height: 35px;
        background-color: #d3d3d3;
      }
    }

    &--icon,
    &--icon-mobile {
      height: 1.2em;
      color: $color_black;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .navbar-stylish {
    height: 70px;
  }

  .navbar-profile-menu {
    display: flex;
    align-items: center;

    &__cart {
      position: relative;

      .badge-cart {
        position: absolute;
        font-family: "Poppins-bold";
        font-size: 10px;
        color: $color_white;
        background: $color_orange;
        width: max-content;
        padding: 0 5px;
        border-radius: 5px;
        top: 17px;
        right: 13px;
        cursor: pointer;
      }
    }
  }

  .search {
    input[type="text"] {
      padding: 0.5em;
      width: 100%;
      border: 0.5px solid rgba(0, 0, 0, 0.1);
      border-radius: 4px;

      &:focus {
        outline: 0;
        border: 1px solid #000000;

        & ~ .btn-search .icon-search {
          color: rgba(0, 0, 0, 1);
        }
      }
    }

    &-form {
      position: relative;

      .btn-search {
        position: absolute;
        top: 0;
        right: 0;

        .icon-search {
          color: rgba(0, 0, 0, 0.7);
          height: 1.2em;
        }

        &:focus,
        &:active {
          outline: 0;
          border: none;
          box-shadow: none;
        }
      }
    }
  }

  .dropdown {
    &-stylish {
      min-width: 8rem;
      width: max-content;
      top: 4.5rem;
      right: -5px;
      border: none;
      padding: 0;

      &:after {
        position: absolute;
        right: 15px;
        top: -20px;
        content: "";
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 20px solid #ffffff;
      }

      .menu-link {
        padding: 1rem;
        cursor: pointer;

        &:hover {
          background: #e4e4e4;
          border-radius: 0.25rem;
        }

        .dropdown-link {
          text-decoration: none;
        }
      }

      .menu {
        position: relative;
        padding: 1rem;

        &-title {
          color: $color_gray_semi_dark;
        }
      }
    }
  }

  .language,
  .currency {
    &__unordered {
      list-style: none;
      padding: 0;
      margin: 0;

      &--list {
        &:first-child {
          margin-bottom: 0.5rem;
        }

        &-button {
          outline: 0;
          box-shadow: none;
          border: none;
          background: transparent;
          padding: 0;
          text-transform: capitalize;

          &::before {
            content: "";
            background: #fff;
            border-radius: 100%;
            border: 1px solid #f7be16;
            display: inline-block;
            width: 1em;
            height: 1em;
            position: relative;
            top: 0.2em;
            margin-right: 1em;
            vertical-align: top;
            cursor: pointer;
            text-align: center;
            transition: all 250ms ease;
          }

          &-selected {
            &::before {
              background-color: #f7be16;
              box-shadow: inset 0 0 0 4px #fff;
            }
          }

          &-selected-mobile {
            &::before {
              background-color: #f7be16;
              box-shadow: inset 0 0 0 2px #fff;
            }
          }
        }

        &-mobile {
          &:first-child {
            margin-bottom: 1rem;
          }
        }
      }

      &--mobile {
        padding-left: 1rem;
        margin: 1rem 0;
      }
    }
  }

  .btn-dropdown {
    padding: 0;

    & > span {
      font-size: 16px;
    }

    &:focus,
    &active {
      box-shadow: none !important;
      outline: 0px !important;
    }
    &:after {
      display: none;
    }
  }

  &-second {
    padding: 3rem 0;
  }

  .language {
    a {
      text-transform: uppercase;
      font-size: small;
      color: black;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  ul.navbar-bottom-menu {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;

    li a {
      padding: 1rem;
      text-decoration: none;
      text-transform: uppercase;
      font-size: small;
      color: black;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .cart-bag {
    color: black;
    margin-left: 1rem;
    height: 1.2em;
  }

  .icon-user {
    color: black;
    height: 1.2em;
  }

  .navbar-mobile {
    width: 100%;
    background: #2C3E50;
    position: sticky;
    z-index: 2;

    &__icon {
      padding: 20px 0;
    }

    &__logo {
      margin: auto 0;
    }

    .mobile-menu-icon {
      height: 1.5em;
      cursor: pointer;
      color: white;
    }

    &__shortcut {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      position: fixed;
      top: auto;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 2;
      width: 100%;
      height: 56px;
      background: #2C3E50;
      color: $color_white;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

      &--inner {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 100%;
      }

      &--item {
        display: block;
        margin: 0 auto;
        padding: 0;
        width: calc(100% / 4);
        min-width: calc(100% / 4);
        max-width: calc(100% / 4);
        text-align: center;

        a {
          position: relative;
          color: $color_black;
          text-decoration: none;
        }

        .icon-item {
          height: 1rem;
          color: $color_white;
        }

        .icon-title {
          color: $color_white;
          display: block;
          font-size: 11px;
        }

        .icon-badge {
          display: block;
          position: absolute;
          top: -5px;
          right: -15px;
          z-index: 6;
          border: none;
          border-radius: 5px;
          background-color: $color_orange;
          color: $color_white;
          text-transform: uppercase;
          text-align: center;
          font-weight: 300;
          font-size: 10px;
          line-height: 15px;
          margin: 0 auto;
          padding: 0 3.5px;
          word-break: keep-all;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }
    }
  }

  .menu-mobile {
    margin: 0;
    padding: 0;

    li {
      list-style: none;
      margin-bottom: 1rem;
    }

    a {
      font-size: 16px;
      text-decoration: none;
      color: white;
    }

    &__sub {
      padding-left: 1rem;
      margin-top: 1rem;

      a {
        font-size: 12px;
      }
    }

    &__itemActive {
      color: $color_orange;

      a {
        color: $color_orange;
      }
    }
  }

  .icon-down-mobile {
    float: right;
    font-size: 16px;

    &--svg {
      height: 1.25em;
    }
  }
}

.aboutus{
  &__title{
    font-size: 45px;
    letter-spacing: 8px;

    @media screen and(max-width: 440px){
      font-size: 20px;
      letter-spacing: 2px;
    }
  }
  &__heading{
    font-size: 22px;

    @media screen and(max-width: 440px){
      font-size: 14px;
    }
  }
  &__desc{
    font-size: 15px;
    letter-spacing: 2px;

    @media screen and(max-width: 440px){
      font-size: 12px;
      letter-spacing: 1px;
    }
  }
}

.heading{
  &__title{
    padding-top : 30px;
    font-size: 28px;

    @media screen and(max-width: 440px){
      font-size: 15px !important;
    }
  }
}

@media screen and (max-width: 767px) {
  .header {
    height: 60px;
  }
}

@media screen and (max-width: 440px) {
  .header {
    &-second {
      padding: 2rem 0;
    }
  }
}

.withchild {
  &> a::after{
    content: "\25BE";
    padding-left: 3px;
  }
}

.dropdown-container{
  padding: 8px;

  &>div{
    &>a{
      font-size: 16px;
      font-weight: bold;
      text-transform: inherit !important;
    }
  }
}