@import "./base/all.scss";
@import "./base/_scrollbar.scss";

@font-face {
  font-family: 'Poppins-regular';
  src: local('Poppins Regular'), local('Poppins-regular'), url('/webfonts/Poppins-Regular.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: 'Poppins-medium';
  src: local('Poppins Medium'), local('Poppins-medium'), url('/webfonts/Poppins-Medium.ttf');
  font-weight: bolder;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: 'Poppins-black';
  src: local('Poppins Black'), local('Poppins-black'), url('/webfonts/Poppins-Black.ttf');
  font-weight: bold;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Poppins-bold";
  src: local("Poppins Bold"), local("Poppins-bold"), url("/webfonts/Poppins-Bold.ttf");
  font-weight: bold;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: "Poppins-bold-italic";
  src: local("Poppins Bold Italic"), local("Poppins-bold-italic"),
    url("/webfonts/Poppins-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
  font-display: fallback;
}
@font-face {
  font-family: "Poppins-italic";
  src: local("Poppins Italic"), local("Poppins-italic"),
    url("/webfonts/Poppins-Italic.ttf");
  font-weight: normal;
  font-style: italic;
  font-display: fallback;
}


.newsletter {
  &__overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba($color_black, 0.7);
    transition: opacity 500ms;
    opacity: 1;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;

    &:empty {
      display: none;
    }
  }

  &__popup-container {
    span {
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row;
      flex-direction: row;
      -webkit-align-items: stretch;
      align-items: stretch;
      -webkit-justify-content: flex-start;
      justify-content: flex-start;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
      position: relative;
      margin: 0 auto;
      padding: 0;
      background-color: #efa739;
      border: none;
      border-radius: 8px;
      box-shadow: 0 10px 20px rgb(0 0 0 / 7%);
      max-width: -webkit-calc(100vw - 60px);
      max-width: calc(100vw - 60px);
      width: 65vw;
      min-height: 420px;
      max-height: -webkit-calc(100vh - 60px);
      max-height: calc(100vh - 60px);
      height: 420px;
      overflow: hidden;

      @media screen and (max-width: 767px) {
        overflow-y: auto;
        height: auto;
      }

      & > div {
        @media screen and (min-width: 768px) {
          min-width: -webkit-calc(100%/2);
          min-width: calc(100% / 2);
          max-width: -webkit-calc(100%/2);
          max-width: calc(100% / 2);
          width: -webkit-calc(100%/2);
          width: calc(100% / 2);
          min-height: 420px;
          max-height: 420px;
          height: 420px;
        }

        img {
          width: 100% !important;
          height: auto !important;
        }
      }
    }
  }

  &__close {
    position: absolute;
    right: 5px;
    top: 5px;
    border: none;
    border-radius: 38px;
    background: #efa739;
    color: $color_white;
    padding: 5px 10px;

    &:active,
    &:focus {
      outline: 0;
      box-shadow: none;
    }
  }

  &-form {
    &-container {
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      padding: 0 20px;

      @media screen and (max-width: 767px) {
        flex-direction: column;
        justify-content: space-between;
        padding: 20px;
        width: 100%;
      }
    }

    &__label {
      display: none;
    }

    &__input {
      margin-top: 100px;
      border: 1px solid #ececec;
      box-sizing: border-box;
      height: 54px;
      width: 70%;
      padding-left: 18px;

      @media (max-width: 575px) {
        width: 100%;
      }

      @media (max-width: 767px) {
        width: 100%;
        margin-top: 30px;
      }
    }

    &__button {
      margin-top: 100px;
      background: $color_shade_madison;
      border: 1px solid #ececec;
      box-sizing: border-box;
      border-radius: 3px;
      height: 54px;
      padding: 0px 24px 0px 24px;
      color: #ffffff;

      @media (max-width: 767px) {
        margin-top: 30px;
      }

      @media screen and (max-width: 767px) {
        width: 100%;
        margin-top: 20px;
      }
    }
  }
}

.Toastify__toast--success{
  background-color: #219653 !important;
}

.page-transition {
  &-enter {
    opacity: 0;

    &-active {
      opacity: 1;
      transition: opacity 300ms;
    }
  }

  &-exit {
    opacity: 1;

    &-active {
      opacity: 0;
      transition: opacity 300ms;
    }
  }
}

body {
  font-family: "Poppins-regular";
  font-size: 13px;
  font-weight: normal;
  background: #fff;
}

a {
  text-decoration: none;
  color: $color_black;

  &:hover {
    color: $color_black;
  }
}

section {
  margin: 3rem 0;

  @media screen and (max-width: 440px) {
    margin: 1.5rem 0;
  }
}

.container {
  max-width: 1168px !important;
}

.bg-outside {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.loader {
  padding: 5rem 0;
}

.popup-background {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($color: #000000, $alpha: 0.8);
  height: 100vh;
  width: 100vw;
  display: flex;
  z-index: 100;

  .close-button {
    background: transparent;
    padding: 8px;
    border: none;
    border-radius: 50%;
    width: 3em;
    height: 3em;
    position: absolute;
    top: 0;
    right: 0;
    color: #212529;
    margin: 10px;
    transition: 200ms;
    font-weight: bold;
    &:hover {
      color: #535c64;
    }
  }

  .detail-popup {
    position: relative;
    height: 100vh;
    margin-top: 25px;
    margin-bottom: auto;
    height: 90vh;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background: white;
    box-shadow: rgba($color: #000000, $alpha: 0.8);
    padding: 8px;
    z-index: 0;
  }

  .popup-modal {
    margin: auto;
    display: flex;
    flex-direction: row;
    height: auto;
    width: auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba($color: #000000, $alpha: 0.2);

    .popup-image {
      width: 45%;
      height: 100%;
      object-fit: cover;
      border-radius: 8px 0 0 8px;
    }

    .popup-detail {
      display: flex;
      flex-direction: column;
      height: 100%;
      align-content: center;
      justify-content: center;
      padding: 4em;

      button {
        background-color: #212529;
        padding: 8px;
        border: none;
        border-radius: 4px;
        color: white;
      }
    }
  }
}

.productListWrapper {
  margin-bottom: 40px;

  .head {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .link {
      cursor: pointer;
    }
  }

  h5 {
    margin-bottom: 20px;
  }

  .featuredProduct {
    text-align: center;
    padding-right: 2.5vh;
    width: 33%;
    height: 33%;
    cursor: pointer;
  }

  .productContainer {
    width: 100%;
    text-align: center;
    cursor: pointer;
    button {
      position: absolute;
      bottom: 20%;
      left: 0;
      width: 100%;
      padding: 8px;
      border: none;
      background: rgba($color: #ffffff, $alpha: 0.8);
      transition: 200ms;
      &:hover {
        background: white;
      }
    }
  }

  .productImg {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 5px;
  }
}

.titleClass {
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: 600;
}

.salePrice {
  text-decoration: line-through;
  opacity: 0.5;
  margin-right: 0.25em;
}

.priceClass {
  margin-top: 0;
}

.product-detail {
  display: flex;
}

.product-detail--image {
  max-height: 300px;
}

.product-detail--thumbnails {
  height: 100px;
}

.font-weight-900 {
  font-weight: 900;
}

.categories-container {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 0 1em;
}

.categories-title {
  font-weight: bold;
}

.categories {
  list-style: none;
  padding: 0;
  li {
    padding: 0.25em 0;
    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}

.products-container {
  div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.lookbook-container {
  border: 1px solid grey;
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.lookbook-gallery {
  margin: 1em;
  width: 22%;
  img {
    width: 100%;
  }
}

.hr-page {
  margin: 3rem 0;
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0)
  );
}

.no-padding-mobile {
  @media screen and (max-width: 575px) {
    padding: 0;
  }

  &-pad {
    @media screen and (max-width: 767px) {
      padding: 0;
    }
  }
}

.sirclo-form {
  &-row {
    position: relative;
    margin-bottom: 1rem;

    label {
      font-size: 14px;
      font-weight: bold;

      @media screen and (max-width: 440px) {
        font-size: 11px;
      }
    }

    textarea {
      padding: 1rem;
    }

    div {
      position: relative;
      vertical-align: middle;

      input {
        padding: 0 1rem;
        height: calc(2em + 0.75rem + 2px);
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;

        &:focus {
          outline: 0;
          box-shadow: none;
          border: 1px solid #ced4da;
        }

        &[type="text"],
        &[type="password"] {
          width: 100%;
          padding-right: 3rem;
        }
      }

      button {
        position: absolute;
        right: 1rem;
        top: 30%;
        bottom: 0;
        background-color: transparent;
        border: none;
        padding: 0;
        height: fit-content;

        &:focus {
          outline: 0;
          box-shadow: none;
          border: none;
        }
      }

      .icon-password {
        height: 1.25em;
        color: $color_black !important;
      }
    }

    // Input City
    & > div {
      & > div {
        & > div {
          padding-left: 1rem;

          & > div.css-1wa3eu0-placeholder {
            position: absolute;
            font-size: 1rem;
            padding-bottom: 7px !important;
            white-space: nowrap;
          }

          & > div.css-1dxjwtd-Placeholder {
            padding-left: 0;
          }

          & > div.css-1uccc91-singleValue {
            position: absolute !important;
          }

          input {
            width: 100% !important;
            height: calc(1.5em + 0.75rem + 2px);
          }
        }
      }
    }
  }

  &-input {
    padding: 0 1rem;
    height: calc(2em + 0.75rem + 2px);

    &:focus {
      outline: 0;
      box-shadow: none;
      border: 1px solid #ced4da;
    }

    &[type="file"] {
      position: relative;
      border: 1px solid #ced4da;
      border-right-color: $color_orange;
      vertical-align: middle;
      padding-top: 0.5rem;

      &::-webkit-file-upload-button {
        float: right;
        color: $color_orange;
        background: transparent;
        border: 1px solid $color_orange;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
        height: calc(2em + 0.75rem + 2px);
        position: absolute;
        top: -1px;
        right: -5px;
        cursor: pointer;

        &:active,
        &:focus {
          outline: 0;
        }
      }
    }

    &-file {
      padding: 0 1rem;
      height: calc(2em + 0.75rem + 2px);
      position: relative;
      border: 1px solid #ced4da;
      vertical-align: middle;
      direction: rtl;
      color: $color_gray_text;

      &:focus {
        outline: 0;
        box-shadow: none;
        border: 1px solid #ced4da;
      }

      &::-webkit-file-upload-button {
        float: right;
        color: $color_black;
        background: transparent;
        border: 1px solid #ced4da;
        height: calc(2em + 0.75rem + 2px);
        position: absolute;
        top: -1px;
        right: -1px;
        cursor: pointer;

        &:active,
        &:focus {
          outline: 0;
        }
      }
    }

    &-radio {
      display: flex;
      align-items: center;

      input {
        height: inherit !important;
        margin-right: 5px;

        &:last-child {
          margin-left: 1rem;
        }
      }
    }

    &-btn {
      position: absolute;
      right: 1rem;
      top: 30%;
      bottom: 0;
      background-color: transparent;
      border: none;
      padding: 0;
      height: fit-content;

      &:focus {
        outline: 0;
        box-shadow: none;
        border: none;
      }
    }
  }
  &-password {
    &-strength {
      &-bar {
        height: 3px;
      }
      &-bar.weak {
        background-color: #f44444;
        width: 33.3%;
      }
      &-bar.weak + &-label {
        color: #f44444;
      }
      &-bar.medium {
        background-color: #fbc02d;
        width: 66.6%;
      }
      &-bar.medium + &-label {
        color: #fbc02d;
      }
      &-bar.strong {
        background-color: #00ba3f;
        width: 100%;
      }
      &-bar.strong + &-label {
        color: #00ba3f;
        width: 100%;
      }
    }
    &-criteria {
      font-size: 12px;
      &-list {
        font-size: 14px;
        display: none;
        padding-left: 5px;
        list-style-type: none;
      }
      &-list.show {
        display: block;
      }
      > svg {
        margin-right: 5px;
      }
    }
    &-criteria.false {
      > svg {
        opacity: 0.5;
      }
    }
    &-criteria.fulfilled {
      > svg {
        // color: #212529;
      }
      color: #00b969;
    }
    font-size: 10px;
  }
}

.mobile {
  &-box {
    @media screen and (max-width: 575px) {
      padding: 1rem;
      border-radius: 5px;
      background-color: $color_white;
      box-shadow: 0 0 2.5px rgba(0, 0, 0, 0.1);
    }
  }

  &-no {
    &-margin {
      @media screen and (max-width: 575px) {
        margin: 0 !important;
      }
    }
  }

  &-pad {
    &-padding {
      &-x {
        &-2 {
          @media screen and (max-width: 767px) {
            padding: 0 1rem !important;
          }
        }
      }

      &-left {
        &-2 {
          @media screen and (max-width: 767px) {
            padding-left: 1rem !important;
          }
        }
      }

      &-right {
        &-2 {
          @media screen and (max-width: 767px) {
            padding-right: 1rem !important;
          }
        }
      }
    }
  }
}

.heading {
  text-align: center;
  margin-bottom: 2rem;

  &__title {
    font-family: "Poppins-bold";

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      border-collapse: separate;
      border-spacing: 1rem 0;
      color: $color_black;
      display: table;
      font-size: 17.5px;
      line-height: 0.25;
      margin: 1rem auto;
      white-space: nowrap;
      width: 22.5%;

      &::before,
      &::after {
        content: "";
        display: table-cell;
        border-top: 3px solid $color_black;
        width: 50%;
      }
    }
  }

  &__desc {
    font-style: italic;
    color: $color_gray_text;
  }
}

.products {
  &__item {
    position: relative;
    margin-bottom: 1rem;

    &:hover .products__item--buttonQuickview {
      display: block;

      @media screen and (max-width: 575px) {
        display: none;
      }
    }

    &--image {
      width: 100%;
      height: 300px;
      max-height: 300px;
      object-fit: cover;
      border: 1px solid rgba($color_black, 0.035);
      border-radius: 5px;

      @media screen and (max-width: 767px) {
        height: 220px;
      }

      @media screen and (max-width: 440px) {
        height: 145px;
        max-height: 145px;
      }
    }

    &-sticker {
      position: absolute;
      top: 1rem;
      right: 2rem;
      text-align: center;

      span {
        font-family: "Poppins-bold";
        display: table-cell;
        vertical-align: middle;
        width: 45px;
        height: 40px;
        border-radius: 10px;
        padding: 2.5px;
      }

      &--outofstock {
        color: $color_white;
        background: #BDBDBD;
        font-size: 10px;
        line-height: 15px;
      }

      &--sale {
        color: $color_white;
        background: #EB5757;
        font-size: 10px;
        line-height: 15px;
      }

      &--preorder {
        color: $color_white;
        background: #BB9864;
        font-size: 10px;
        line-height: 15px;
      }

      &--new {
        color: $color_white;
        background: #F2994A;
        font-size: 10px;
        line-height: 15px;
      }

      &--comingsoon {
        color: $color_white;
        background: #6BBB64;
        font-size: 10px;
        line-height: 15px;
      }

      &--openorder {
        color: $color_white;
        background: #BB6BD9;
        font-size: 10px;
        line-height: 15px;
      }
    }

    &--content {
      margin: 1rem 0;

      @media screen and (max-width: 767px) {
        margin: 0.5rem 0;
      }

      &-title {
        font-family: "Poppins-bold";
        font-size: 14px;
        margin-bottom: 0.5rem;

        display: block;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;

        min-width: 100%;
        max-width: 100%;
        width: 100%;

        @media screen and (max-width: 767px) {
          margin-bottom: 0.25rem;
        }
      }

      &-price {
        display: flex;
        font-weight: bold;
        font-size: 22px;
        letter-spacing: 2px;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: flex-end;
        align-items: flex-end;
        flex-direction: row-reverse;

        @media screen and (max-width: 767px) {
          display: block;
          font-size: 11px;
          padding-right: 0;
        }

        @media screen and (max-width: 440px) {
          margin-bottom: 0.25rem;
        }

        &--sale {
          text-decoration: line-through;
          color: $color_black;
          font-size: 11px;

          @media screen and (max-width: 767px) {
            display: block;
            font-size: 9px;
            padding-right: 0;
          }
        }
        &--normal {
          font-size: 22px;

        @media screen and (max-width: 767px) {
          font-size: 11px;
        }
        }
      }
    }

    &--buttonQuickview {
      display: none;
      font-family: "Poppins-bold";
      position: absolute;
      top: 65%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 0.75rem 2rem;
      border: none;
      border-radius: 50px;
      background: rgba(255, 255, 255, 0.75);

      &:focus,
      &:active {
        outline: 0;
        border: none;
        box-shadow: none;
      }

      &::after {
        margin-left: 1rem;
      }
    }
  }

  &__empty {
    padding: 5rem 0;
    text-align: center;

    &--icon {
      width: 5rem !important;
      height: 5rem !important;
    }

    &--title {
      font-family: "Poppins-bold";
      font-size: 27.5px;
      text-transform: uppercase;
      margin: 1rem 0 0.5rem 0;
    }

    &--desc {
      color: $color_gray_text;
    }
  }
}

.modal-payment {
  &__overlay {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 767px) {
      padding: 0 1rem;
    }
  }

  &__inner {
    width: max-content;
    height: auto;
    padding: 1.5rem;
    text-align: center;
    border-radius: 5px;
    background-color: $color_white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);

    @media screen and (max-width: 767px) {
      width: 100%;
    }
  }
}

.quickview {
  &__overlay {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 767px) {
      padding: 0 1rem;
    }

    .close {
      &-button {
        font-family: "Poppins-bold";
        font-size: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        background-color: transparent;
        border: none;
        padding: 0.5rem 0.75rem;
        z-index: 1;

        @media screen and (max-width: 767px) {
          right: 1.5rem;
        }

        &:focus,
        &:active {
          outline: 0;
          border: none;
          box-shadow: none;
        }
      }

      &-icon {
        height: 1.2em;
        color: $color_gray_text;
        cursor: pointer;

        &:hover {
          color: $color_black;
        }
      }
    }
  }

  &__inner {
    @extend .scrollbar;
    width: 650px;
    height: auto;
    max-height: 550px;
    padding: 1.5rem;
    align-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: $color_white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    overflow-y: auto;

    @media screen and (max-width: 767px) {
      width: 100%;
    }

    &-left {
      @media screen and (max-width: 767px) {
        margin-bottom: 1rem;
      }

      &--image {
        width: 100%;
        height: 250px;
        object-fit: cover;
      }

      ul {
        display: flex;
        justify-content: start;
        width: 100%;
        overflow-x: auto;
        list-style: none;
        margin: 0;
        padding: 0;
        margin-top: 0.5rem;

        li {
          display: inline-block;
          margin-right: 0.5rem;

          &:hover {
            cursor: pointer;
          }

          .quickview__inner-left--image-thumb {
            width: 50px;
            height: 50px;
            object-fit: cover;
            opacity: 0.5;

            &:hover {
              cursor: pointer;
              opacity: 1;
            }

            &.active {
              opacity: 1;
            }
          }
        }
      }
    }

    &-right {
      &--detailTitle {
        &-title {
          font-family: "Poppins-bold";
          font-size: 14px;
          margin-bottom: 0.25rem;
        }

        p {
          margin-bottom: 0;
        }
      }

      &-detail {
        display: flex;
        flex-direction: column-reverse;

        &--quantity {
          position: relative;
          width: max-content;
          margin: 1rem 0;

          span {
            position: absolute;
            width: 35px;
            height: 45px;
            line-height: 45px;
            display: inline-block;
            text-align: center;
            font-size: 1rem;
            color: rgba(0, 0, 0, 0.25);

            &:last-child {
              right: 0;
            }

            &:hover {
              cursor: pointer;
              color: $color_black;
            }
          }

          input {
            width: 100px;
            height: 45px;
            border: 1px solid rgba(0, 0, 0, 0.25);
            border-radius: 2.5px;
            font-size: 18px;
            text-align: center;

            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
              -webkit-appearance: none;
              margin: 0;
            }

            &[type="number"] {
              -moz-appearance: textfield;
            }
          }
        }

        &--size-color {
          display: flex;
          margin-bottom: 1rem;

          & > div:first-child {
            margin-right: 1rem;
          }

          & > div {
            & > div {
              margin-bottom: 0.5rem;
            }
          }

          &-select {
            select {
              width: 150px;
              padding: 1rem;
              border-color: rgba(0, 0, 0, 0.25);
              border-radius: 2.5px;

              &:focus,
              &:active {
                outline: 0;
              }
            }
          }
        }

        &--desc {
          &-tab {
            p {
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}

.quickdetail {
  &__overlay {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 767px) {
      padding: 0 1rem;
    }

    .close {
      &-button {
        font-family: "Poppins-bold";
        font-size: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        background-color: transparent;
        border: none;
        padding: 0.5rem 0.75rem;
        z-index: 1;

        @media screen and (max-width: 767px) {
          padding: 0;
          top: 0.25rem;
          right: 1.5rem;
          font-size: 0.75rem;
        }

        @media screen and (max-width: 575px) {
          top: 0;
          right: 1.25rem;
        }

        &:focus,
        &:active {
          outline: 0;
          border: none;
          box-shadow: none;
        }
      }

      &-icon {
        height: 1.2em;
        color: $color_gray_text;
        cursor: pointer;

        &:hover {
          color: $color_black;
        }
      }
    }
  }

  &__inner {
    width: 450px;
    height: auto;
    padding: 1.5rem;
    align-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: $color_white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    overflow: scroll;

    @media screen and (max-width: 767px) {
      width: 100%;
    }

    &--container {
      margin-bottom: 0.5rem;
    }

    &--left {
      @media screen and (max-width: 767px) {
        margin-bottom: 1rem;
      }

      &-image {
        width: 100%;
        height: 135px;
        object-fit: cover;
        border-radius: 5px;
      }

      ul {
        display: none;
      }
    }

    &--right {
      &-title {
        font-family: "Poppins-bold";
        font-size: 16px;
      }

      & > p {
        font-size: 16px;
      }

      &-qty {
        position: relative;
        width: max-content;
        margin: 1rem 0;

        span {
          position: absolute;
          width: 35px;
          height: 45px;
          line-height: 45px;
          display: inline-block;
          text-align: center;
          font-size: 1rem;
          color: rgba(0, 0, 0, 0.25);

          &:last-child {
            right: 0;
          }

          &:hover {
            cursor: pointer;
            color: $color_black;
          }
        }

        input {
          width: 100px;
          height: 45px;
          border: 1px solid rgba(0, 0, 0, 0.25);
          border-radius: 2.5px;
          font-size: 18px;
          text-align: center;

          &::-webkit-outer-spin-button,
          &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }

          &[type="number"] {
            -moz-appearance: textfield;
          }
        }
      }
    }

    &--variant {
      margin-bottom: 1rem;

      &-label {
        margin-bottom: 0.5rem;
      }

      &-select {
        select {
          width: 100%;
          padding: 1rem;
          border-color: rgba(0, 0, 0, 0.25);
          border-radius: 2.5px;

          &:focus,
          &:active {
            outline: 0;
          }
        }
      }
    }

    &--footer {
      display: flex;
      justify-content: space-between;

      &-detail,
      &-update {
        width: 46.5%;
        padding: 0.75rem;
        font-family: "Poppins-bold";
      }

      &-detail {
        color: $color_orange;
      }
    }
  }
}

.loader-pages {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: $color_white;
  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__inner {
    width: 300px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    padding: 3rem;
    text-align: center;

    &--icon {
      width: 45px;
      margin-bottom: 1.5rem;
    }

    &--label {
      font-size: 12px;
      text-transform: capitalize;
      margin: 0;
    }
  }
}

.error-pages {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: $color_white;
  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    text-align: center;

    &--icon {
      width: 50px;
      margin-bottom: 0.75rem;
    }

    &--title {
      font-size: 27.5px;

      @media screen and (max-width: 575px) {
        font-size: 22.5px;
      }
    }

    &--desc {
      font-size: 12px;
      color: $color_gray_text;

      @media screen and (max-width: 575px) {
        font-size: 10px;
      }
    }
  }
}

.margin-step-payment {
  @media screen and (max-width: 767px) {
    margin-bottom: 170px !important;
  }
}

.maintenance {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  width: 100vw;
  height: 100vh;

  img {
    max-width: 100%;
    margin-bottom: 24px;
  }
}

.autocomplete-dropdown-container {
  z-index: 1;
  width: calc(100% - 75px);
  border: 1px solid $color_gray;
  background: $color_white;
  position: absolute;
  text-align: left;
  top: 50px;
  right: 12px;
  left: 16px;

  div {
    padding: 10px;
  }

  div:nth-child(odd) {
    background-color: $color_white !important;
  }

  div:nth-child(even) {
    background-color: $color_gray !important;
  }
}

.dropdown-container::before {
  position: absolute;
  content: "";
  width: 0px;
  height: 0px;
  border-top: 15px solid #eeeeee;
  border-right: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid transparent;
  transform: rotate(180deg) translate(-30px, 30px);
}

.widget {
  @media screen and (max-width: 575px) {
    bottom: 82px !important;
    right: 16px !important;
  }
}

.custom-container {
  padding-left: 6.3rem;
  padding-right: 6.3rem;

  @media screen and (max-width: 991px) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

#custom-newsletter-title {
  position: absolute;
  top: 80px;
  right: 0;
  min-width: 50%;
  max-width: 50%;
  text-align: center;
  color: white;

  @media screen and (max-width: 767px) {
    margin-top: 30px;
    min-width: 100%;
    max-width: 100%;
    position: unset;
  }
}