@import '~bootstrap/scss/bootstrap.scss';
@import './base/all.scss';
@import './utils/position.scss';
@import './utils/flex.scss';
@import './components/button.scss';
@import './components/popUpOpt.scss';
@import './stylish.scss';

@import '../../components/Breadcrumb/breadcrumb.scss';
@import '../../components/CartSideMenu/cart-side-menu.scss';
@import '../../components/Footer/footer.scss';
@import '../../components/Header/header.scss';
@import '../../components/SideMenu/side-menu.scss';
@import '../../components/Stepper/stepper.scss';
@import '../../components/Placeholder/placeholder.scss';
@import '../../components/InstagramFeed/instagramFeed.scss';
@import '../../components/SocialShare/socialShare.scss';
@import '../../components/OrderSummaryBox/_order-summary.scss';

@import '../../pages/[lng]/account/account.scss';
@import '../../pages/[lng]/article/article.scss';
@import '../../pages/[lng]/home.scss';
@import '../../pages/[lng]/blog/blog.scss';
@import '../../pages/[lng]/cart/cart.scss';
@import '../../pages/[lng]/contact/contact.scss';
@import '../../pages/[lng]/forgot-password/forgot-password.scss';
@import '../../pages/[lng]/gift-card/gift-card.scss';
@import '../../pages/[lng]/login/login.scss';
@import '../../pages/[lng]/lookbook/categories/lookbook.scss';
@import '../../pages/[lng]/payment_method/payment-method.scss';
@import '../../pages/[lng]/payment_notif/payment-notif.scss';
@import '../../pages/[lng]/place_order/place-order.scss';
@import '../../pages/[lng]/place_order/payment/payment-status.scss';
@import '../../pages/[lng]/product/detail-product.scss';
@import '../../pages/[lng]/products/products.scss';
@import '../../pages/[lng]/register/register.scss';
@import '../../pages/[lng]/review/review.scss';
@import '../../pages/[lng]/shipping_method/shipping-method.scss';
@import '../../pages/[lng]/tautan/tautan.scss';
@import '../../pages/[lng]/testimonials/testimonials.scss';
@import '../../pages/[lng]/thank-you/thank-you.scss';
@import '../../pages/[lng]/track/track.scss';