.social-share
{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	flex-wrap: wrap;
	position: relative;
	margin: 0;
	margin-left: 10px;
	padding: 0;

	&__item
	{
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		flex-wrap: nowrap;
		margin: 0;
		border: none;
		font-size: 15px;

		width: 38px;
		height: 38px;
		color: #444;

		@media (max-width: 575px) {
			width: 42px;
			height: 42px;
		}

		button
		{
			@include transition();
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			flex-wrap: nowrap;
			position: relative;
			margin: 0;
			padding: 0;
			width: 100%;
			height: 100%;

			&:hover,
			&:focus
			{
				opacity: 0.7;
			}
		}
	}

	@media screen and (max-width: 440px){
		margin-left: 0;
	}
}