

.blogs-page {
  margin-top: 30px;
  margin-left: 30px;

  @media screen and (max-width: 440px) {
    margin: 0;
  }

  &__items {
    padding: 1.5rem;
    margin-bottom: 2rem;

    &--container {
      &-image {
        width: 100%;
        height: 280px;
        object-fit: cover;
        border-radius: 4px;
        margin-bottom: 15px;

        @media screen and (max-width: 1083px) {
          width: 100%;
          height: 300px;
        }
      }

      &-title {
        font-size: 20px;
        font-weight: bold;

        @media screen and (max-width: 440px) {
          font-size: 11px;
        }
      }

      &-details {
        display: flex;
        justify-content: start;

        &-author {
          display: flex;
          justify-content: start;
          color: $color_gray_text;

          &-date {
            font-size: 14px;

            @media screen and (max-width: 440px) {
              font-size: 9px;
            }
          }

          &-title {
            font-size: 14px;
            margin-right: 5px;
            color: $color_gray_text;

            @media screen and (max-width: 440px) {
              font-size: 9px;
            }
          }
        }
      }
    }

    &--category {
      position: absolute;
      top: 30px;
      left: 30px;
      z-index: 1;
      font-size: 18px;

      p {
        color: $color_white;
        background: $color_orange;
        padding: 5px 10px;
        border-top-left-radius: 4px;
        border-bottom-right-radius: 4px;
        margin: 0;

        @media screen and (max-width: 440px) {
          font-size: 11px;
        }

        &:empty
        {
          display: none;
        }
      }
    }

    &--contentContainer {
      font-size: 16px;
      margin: 10px 0;

      @media screen and (max-width: 440px) {
        font-size: 9px;
      }
    }
  }

  &__empty {
    padding: 5rem 0;
    text-align: center;

    &--icon {
      width: 5rem !important;
      height: 5rem !important;
    }

    &--title {
      font-family: "Poppins-bold";
      font-size: 27.5px;
      text-transform: uppercase;
      margin: 1rem 0 0.5rem 0;
    }

    &--desc {
      color: $color_gray_text;
    }
  }

  &__pagination
  {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 40px;
    padding: 0;
  }

  &__paginationItem
  {
    background: transparent;
    color: #212529;
    margin: 0.5rem;
    border-radius: 4px;
    border: none;
    list-style: none;
    cursor: pointer;

    &:focus,
    &:active
    {
      outline: 0;
      box-shadow: none;
    }
  }

  &__paginationItemActive
  {
    background: #212529;
    color: $color_white;
    padding: 0.5rem 1rem;
  }
}

.blog-padding{
  padding-left: 0px !important;
}

.title-side-blogs {
  font-family: "Poppins-bold";
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  display: inline-block;

  &:before {
    content: "";
    position: absolute;
    width: 50%;
    bottom: -5px;
    border-bottom: 2px solid $color_orange;
  }

  @media screen and (max-width: 440px) {
    font-size: 14px;
  }
}

.blogs-category {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 3rem;

  &__items {
    margin: 1rem 0;

    &--link {
      font-size: 18px;
      &:hover {
        text-decoration: none;
      }

      @media screen and (max-width: 440px) {
        font-size: 14px;
      }
    }
  }
}

.card-recent{
  margin: 1rem;
}

.center-align{
  text-align: center;
}

.border-blog {
  border-right: 1px solid #E6E6E6;
}

.blog-article{
  margin-bottom: 1rem !important;
  margin-top: 1rem !important;
}

.recent-post {
  list-style: none;
  padding: 0;
  margin: 0;

  &__items {
    display: flex;
    align-items: center;
    margin: 4rem 0 1rem;

    &:first-child {
      margin-top: 1rem;
    }

    &--image {
      width: 250px;
      height: 201px;
      background-size: cover;
      object-fit: cover;
      border-radius: 5px;
      margin-right: 1rem;
    }

    &--label {
      margin: 0;
      margin-left: 15px;
      margin-right: 15px;

      &-title {
        margin-top: 5px;
        font-size: 15px;
        font-weight: bold;

        &:hover {
          text-decoration: none;
        }

        @media screen and (max-width: 440px) {
          font-size: 11px;
        }
      }

      &-date {
        margin-top: 10px;
        font-size: 11px;

      @media screen and (max-width: 440px) {
        font-size: 9px;
      }
      }
    }
  }
}

.blog
{
  &-detail
  {
    margin: 0 0 72px;

    &__header
    {
      position: relative;
      margin: 0 0 26px;

      &-content
      {
        h1, h2, h3, h4, h5, h6, p
        {
          display: none;
        }
      }

      &--content {

        &-details {

          &-share {
            &-sosmed {
              display: flex;
              align-items: center;

              &-items {
                margin: 0 0.25rem;

                img {
                  width: 25px !important;
                  height: 25px !important;
                }
              }
            }
          }
        }
      }
    }

    &__content
    {
      position: relative;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      color: #444;
      text-align: justify !important;
      text-justify: inter-word !important;

      img
      {
        width: 100%;
        max-width: 100%;
      }

      @media screen and (max-width: 440px) {
        font-size: 11px;
      }
    }

    &__meta
    {
      color: $color_gray_text;
      font-size: 14px;

      & > div
      {
        & + div
        {
          margin-right: 12px;
        }
      }

      @media screen and (max-width: 440px) {
        font-size: 9px;
      }
    }

    &__icon
    {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 16px;
      height: 16px;
      margin: 0 12px 0 0;

      background-color: transparent;
      background-size: 100% auto;
      background-repeat: no-repeat;
      background-position: center center;

      &--author
      {
        background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 8.5C9.69223 8.5 10.3689 8.29473 10.9445 7.91015C11.5201 7.52556 11.9687 6.97894 12.2336 6.33939C12.4985 5.69985 12.5678 4.99612 12.4327 4.31719C12.2977 3.63825 11.9644 3.01461 11.4749 2.52513C10.9854 2.03564 10.3618 1.7023 9.68282 1.56725C9.00388 1.4322 8.30015 1.50152 7.66061 1.76642C7.02107 2.03133 6.47444 2.47993 6.08986 3.05551C5.70527 3.63108 5.5 4.30777 5.5 5C5.5 5.92826 5.86875 6.8185 6.52513 7.47487C7.1815 8.13125 8.07174 8.5 9 8.5ZM9 2.5C9.49445 2.5 9.9778 2.64662 10.3889 2.92133C10.8 3.19603 11.1205 3.58648 11.3097 4.04329C11.4989 4.50011 11.5484 5.00277 11.452 5.48773C11.3555 5.97268 11.1174 6.41814 10.7678 6.76777C10.4181 7.1174 9.97268 7.3555 9.48773 7.45196C9.00277 7.54843 8.50011 7.49892 8.04329 7.3097C7.58648 7.12048 7.19603 6.80005 6.92133 6.38893C6.64662 5.9778 6.5 5.49445 6.5 5C6.5 4.33696 6.76339 3.70108 7.23223 3.23223C7.70107 2.76339 8.33696 2.5 9 2.5Z' fill='%23A6A6A6'/%3E%3Cpath d='M15.235 12.1849C14.4332 11.3374 13.4669 10.6624 12.3953 10.201C11.3237 9.73966 10.1692 9.50171 9.0025 9.50171C7.83579 9.50171 6.68135 9.73966 5.60973 10.201C4.53811 10.6624 3.57185 11.3374 2.77 12.1849C2.59616 12.3706 2.49961 12.6155 2.5 12.8699V15.4999C2.5 15.7651 2.60536 16.0195 2.79289 16.207C2.98043 16.3945 3.23478 16.4999 3.5 16.4999H14.5C14.7652 16.4999 15.0196 16.3945 15.2071 16.207C15.3946 16.0195 15.5 15.7651 15.5 15.4999V12.8699C15.5018 12.6162 15.407 12.3714 15.235 12.1849ZM14.5 15.4999H3.5V12.8649C4.20862 12.1187 5.06165 11.5246 6.00718 11.1185C6.95271 10.7125 7.97098 10.5031 9 10.5031C10.029 10.5031 11.0473 10.7125 11.9928 11.1185C12.9384 11.5246 13.7914 12.1187 14.5 12.8649V15.4999Z' fill='%23A6A6A6'/%3E%3C/svg%3E%0A");
      }

      &--time
      {
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 15C6.61553 15 5.26216 14.5895 4.11101 13.8203C2.95987 13.0511 2.06266 11.9579 1.53285 10.6788C1.00303 9.3997 0.86441 7.99224 1.13451 6.63437C1.4046 5.2765 2.07129 4.02922 3.05026 3.05026C4.02922 2.07129 5.2765 1.4046 6.63437 1.13451C7.99224 0.86441 9.3997 1.00303 10.6788 1.53285C11.9579 2.06266 13.0511 2.95987 13.8203 4.11101C14.5895 5.26216 15 6.61553 15 8C15 9.85652 14.2625 11.637 12.9497 12.9497C11.637 14.2625 9.85652 15 8 15ZM8 2C6.81332 2 5.65328 2.3519 4.66658 3.01119C3.67989 3.67047 2.91085 4.60755 2.45673 5.7039C2.0026 6.80026 1.88378 8.00666 2.11529 9.17054C2.3468 10.3344 2.91825 11.4035 3.75736 12.2426C4.59648 13.0818 5.66558 13.6532 6.82946 13.8847C7.99335 14.1162 9.19975 13.9974 10.2961 13.5433C11.3925 13.0892 12.3295 12.3201 12.9888 11.3334C13.6481 10.3467 14 9.18669 14 8C14 6.4087 13.3679 4.88258 12.2426 3.75736C11.1174 2.63214 9.5913 2 8 2Z' fill='%23A6A6A6'/%3E%3Cpath d='M10.295 11L7.5 8.205V3.5H8.5V7.79L11 10.295L10.295 11Z' fill='%23A6A6A6'/%3E%3C/svg%3E%0A");
      }

      @media screen and (max-width: 440px) {
        width: 11px;
        margin-right: 4px;
      }
    }

    &__breadcrumb
    {
      .section-breadcrumb
      {
        // background: linear-gradient(180deg, #FFFCF4 0%, rgba(255, 254, 248, 0) 100%) !important;

        @media screen and (max-width: 991px)
        {
          padding: 30px 15px;

          .breadcrumb-stylish
          {
            margin-bottom: 0;
          }
        }
      }
    }

  }
}

.display-web{
  padding-left: 0;
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.display-app{
  @media screen and (min-width: 768px) {
    display :none;
  }
}