.giftcard-page
{
  &-container
  {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
  }

  &-inner
  {
    width: 100%;
    // padding: 1.5rem;
    padding-bottom: 1.5rem;
    align-content: center;
    // border-radius: 5px;
    background-color: $color_white;
    // box-shadow: 0 0 15px rgba(0,0,0,.15);

    .giftcard-note
    {
      display: block;
      padding: 0;
      margin-bottom: 1rem;
      font-size: 13px;
    }
  }

  &-title
  {
    font-family: "Poppins-bold";
    font-size: 16px;
  }

  &-subtitle
  {
    color: $color_gray_text;
  }

  &-form
  {
    margin: 2rem 0;
  }
}