@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.track-shipment {
  &__list {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    margin: 0;
    padding: 0 16px 16px 32px;

    & > p {
      opacity: 0.6;
      margin-bottom: 0;
    }

    &.latest {
      & > p {
        opacity: 1;
      }

      &::before,
      &::after {
        background-color: $color_green_track;
      }
    }

    &::before,
    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      margin: 0;
      padding: 0;
    }

    &::before {
      width: 14px;
      height: 14px;
      border-radius: 100%;

      background-color: #E6E6E6;
      border: 2px solid $color_white;

      top: 4px;

      z-index: 2;
    }

    &::after {
      width: 2px;
      height: 100%;

      // border-left: 2px dashed $color_green_track_low;
      background-color: #E6E6E6;

      left: 6px;
      top: 14px;
    }

    &:last-child {
      &::after {
        display: none;
      }
    }

    & > p {
      &:first-child {
        font-size: 14px;
        line-height: 21px;
        color: #2a2a2a;
      }
      &:last-child {
        font-size: 11.2px;
        line-height: 17px;
        color: #6a6a6a;
      }
    }
  }

  &__listWrapper {
    padding: 0;
  }

  &__header {
    position: relative;
    padding: 13px 22px 13px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    font-size: 18px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04);
  }

  &__body {
    padding: 25px 22px;
    background-image: #ffffff !important;
  }

  &__headerText {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 0;
  }

  &__text {
    font-size: 11.2px;
    line-height: 17px;
    margin-bottom: 0;
  }

  &__footer {
    padding: 0px 22px 22px 22px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

    button {
      @extend .btn;
      background-color: #E9F5FA;
      display: flex;
      align-items: center;
      position: relative !important;
      bottom: 0 !important;
      width: 20vw;
      text-align: left;
      padding: 1rem;
      color: $color_black;
      text-transform: uppercase;

      &:hover {
        color: $color_black !important;
      }

      @media screen and (max-width: 767px) {
        width: 100%;
      }

      img {
        display: inline;
        background-color: $color_yellow;
        padding: 15px 18px;
        margin-right: 10px;
        border-radius: 38px;
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
      }

      &::after {
        content: ">";
        margin-left: auto !important;
        font-size: 14px;
        font-weight: 600;
      }
    }
  }

  &__trackButton {
    width: 100%;
    display: flex;
    align-items: center;
    text-align: left;
    padding: 20px;
    font-size: 14px;
    color: $color_white;
    text-transform: uppercase;
    
    &::after {
      content: ">";
      margin-left: auto;
      font-size: 14px;
      font-weight: 600;
    }
  }

  &__closeIcon {
    position: absolute;
    top: 11px;
    right: 15px;
    cursor: pointer;
  }

  &__note {
    background-color: $color_orange_low;
    padding: 0.3rem 0.5rem;
    border-radius: 4px;
    margin: 5px 0 !important;
  }
}
