.place-order {
  &__member {
    text-align: right;

    &--login-label {
      text-align: left !important;

      span {
        font-family: "Poppins-bold";
        color: #3A96CA !important;
        margin-left: 5px;
        font-weight: bold;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    &--signup {
      &-checkbox {
        margin-right: 2px;
      }

      &-label {
        margin-bottom: 5px;
      }
    }
  }

  &__marginMapButton{
    @media screen and (max-width: 991px) {
      width: 80%;
      margin: auto;
    }
  }

  &__form {
    &--label {
      font-size: 14px;
      color: $color_black;
      font-weight: bold;
      margin: 0.5rem;
      margin-left: 0;

      @media screen and (max-width: 440px) {
        font-size: 11px;
      }
    }
  }

  &__shipping {
    &--title {
      margin-bottom: 1rem;
    }

    &--label {
      @media screen and (max-width: 440px) {
        font-size: 14px;
      }
    }

    &--checkbox {
      margin-right: 5px;
    }
  }

  &__errorMessage {
    background-color: $color_red;
    color: $color_white;
    padding-left: 10px;
    border-radius: 3px;
    width: 50%;
  }

  &_errorAddCart
  {
    width: 450px;
    background: $color_white;
    padding: 2rem;
    text-align: center;
    border-radius: 5px;

    @media screen and (max-width: 576px) {
      width: 100%;
    }
  }

  &_errorAddCartTitle
  {
    font-family: "Poppins-bold";
    font-size: 18px;
    margin-bottom: 1rem;
  }

  &_errorAddCartDesc
  {
    font-size: 13px;
    margin-bottom: 0;
  }

  &_mapNote
  {
    display: block;
  }

  &_mapChooseLocation
  {
    font-size: 14px;
    display: block;
    width: 100%;
    border-radius: 0.25rem;
    border: 1px solid $color_gray_low;
    background-color: $color_white;
    padding: 30px;
  }

  &_mapArea
  {
    width: 100%;
    height: 200px;
    display: grid;
  }

  &_mapPopup
  {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &_mapCloseIcon
  {
    cursor: pointer;
  }

  &_mapPopupContainer
  {
    position: relative;
    width: 50vw;
    background: $color_white;
    // border-radius: 10px;

    @media screen and (max-width: 991px) {
      width: 100%;
      height: 100%;
    }
  }

  &_mapPopupHeader
  {
    display: flex;
    align-items: center;
    padding: 15px;
    flex-direction: row-reverse;
  }

  &_mapPopupHeaderTitle
  {
    flex: 1;
    font-size: 16px;
    color: $color_black;
    text-align: center;
  }

  &_mapPopupClose
  {
    border: none;
    background-color: transparent;
    font-family: "Poppins-bold";
    font-size: 16px;

    &:focus,
    &:active
    {
      outline: 0;
      border: none;
      box-shadow: none;
    }
  }

  &_mapPopupNote
  {
    font-size: 14px;
    background: $color_orange_light;
    color: $color_black;
    padding: 15px;
    text-align: center;
  }

  &_mapPopupMaps
  {
    position: relative;
    background-color: $color_white;
    z-index: 1;
    width: 100%;
    height: 320px;

    @media screen and (max-width: 991px) {
      height: 60%;
    }

    input
    {
      font-size: 14px;
      width: calc(100% - 75px);
      padding: 10px 15px;
      border: 1px;
      background: $color_white;
      z-index: 2;
      position: absolute;
      top: 12px;
      right: 12px;
      left: 16px;
      border-radius: 4px;
      box-shadow: none;
      outline: 0;
    }
  }

  &_mapPopupCenterButton
  {
    position: absolute;
    right: 10px;
    background: $color_white;
    padding: 7.5px;
    top: 12px;
    border: none;
    border-radius: 4px;
  }

  &_mapPopupLabelAddress
  {
    font-size: 14px;
    background: $color_white;
    color: $color_black;
    padding: 15px;
  }
}
