.product-detail {
  &__row {
    .col-12 {
      padding: 1rem;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }
    }
  }

  &__container {
    margin-bottom: 2rem;

    @media screen and (max-width: 767px) {
      padding: 0;
    }
  }

  &__left {
    position: relative;

    &--image {
      width: 100%;
      object-fit: cover;
      height: 568px;

      @media screen and (max-width: 575px) {
        height: 450px;
      }
    }

    ul {
      position: relative;
      bottom: 1rem;
      left: 50%;
      transform: translate(-50%, 40%);
      display: flex;
      justify-content: flex-start;
      list-style: none;
      margin: 0;
      padding: 0;
      max-width: 70%;
      width: max-content;
      overflow-x: auto;

      @media screen and (max-width: 767px) {
        transform: translate(-50%, 10%);
      }

      @media screen and (max-width: 440px) {
        bottom: 0;
      }

      li {
        .image-thumb {
          width: 85px;
          height: 85px;
          object-fit: cover;
          opacity: 0.5;
          border-radius: 2.5px;
          margin-right: 5px;

          &::last-child{
            margin-right: 0;
          }

          &:hover {
            cursor: pointer;
            opacity: 1;
          }

          &.active {
            opacity: 1;
          }
        }
      }
    }
  }

  &__right {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: nowrap;
    position: relative;

    & > *
    {
      min-width: 100%;
    }

    @media screen and (max-width: 440px) {
      margin-top: 1rem;
    }

    &--detailTitle {
      &-title {
        font-family: "Poppins-bold";
        font-weight: bold;
        font-size: 24px;
      }
    }

    & > p {
      font-family: "Poppins-bold";
      font-size: 22px;
      color: $color_orange;
      order: 2;
    }

    &--form {
      &-variant {
        display: flex;
        margin-bottom: 1rem;

        &-option {
          display: flex;
          flex-wrap: wrap;
          line-height: 2;

          select {
            width: 100%;
            padding: 0.8rem 1rem;
            border-color: rgba(0, 0, 0, 0.25);
            border-radius: 2.5px;
            background-color: white;

            &:focus,
            &:active {
              outline: 0;
            }
          }

          span {
            margin: 0.25rem 1rem 0.25rem 0;

            input {
              -webkit-appearance: none;
              -moz-appearance: none;
              appearance: none;

              &:checked + label {
                background-color: $color_orange;
                border-color: transparent;
              }
            }

            label {
              border: 1px solid rgba(0, 0, 0, 0.25);
              border-radius: 2.5px;
              padding: 0.75rem;
              min-width: 50px;
              width: max-content;
              cursor: pointer;
              text-align: center;
              font-size: 14px;

              &:hover {
                background-color: $color_gray;
              }
            }
          }
        }

        &-container {
          &:first-child {
            margin-right: 1rem;
          }
          flex-grow: 1;
        }

        &-title{
          font-size: 16px;
          color: black;
        }
      }

      &-qty {
        position: relative;
        width: max-content;
        margin: 1rem 0;

        span {
          position: absolute;
          width: 35px;
          height: 45px;
          line-height: 45px;
          display: inline-block;
          text-align: center;
          font-size: 1rem;
          color: rgba(0, 0, 0, 0.25);

          &:last-child {
            right: 0;
          }

          &:hover {
            cursor: pointer;
            color: $color_black;
          }
        }

        input {
          width: 100px;
          height: 45px;
          border: 1px solid rgba(0, 0, 0, 0.25);
          border-radius: 2.5px;
          font-size: 18px;
          text-align: center;

          &::-webkit-outer-spin-button,
          &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }

          &[type="number"] {
            -moz-appearance: textfield;
          }
        }
      }
    }

    &--desc {
      margin-top: 2rem;
      font-size: 16px;
    }

    &-share {
      margin-top: 2rem;
      display: flex;
      align-items: center;

      @media screen and (max-width: 440px){
        align-items: flex-start !important;
      }

      p {
        font-size: 14px;
        line-height: 21px;
        font-weight: 400;
        color: #444;
      }


      @media (max-width: 768px)
      {
        padding-left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }

  &__openorder {
    margin-bottom: 1rem;

    &-title {
      font-size: 13px;
      margin-bottom: 0.5rem;
    }

    &-container {
      display: flex;

      &--date,
      &--time {
        font-family: "Poppins-bold";
        padding: 0.5rem 1rem;
        border: 1px solid $color_orange;
        border-radius: 4px;
      }

      &--date {
        margin-right: 0.5rem;
      }

      &--icon {
        margin-right: 0.5rem;
      }
    }

    &-countdown {
      display: flex;
      align-items: center;

      & > div {
        text-align: center;
      }

      & > span {
        font-family: "Poppins-bold";
        font-size: 15px;
        color: $color_maroon;
        margin: 0 0.5rem 1rem 0.5rem;
      }

      &-item {
        font-family: "Poppins-bold";
        font-size: 15px;
        padding: 0.5rem;
        border-radius: 4px;
        color: $color_white;
        background: #F44444;
      }
    }

    &-timeout {
      font-family: "Poppins-bold";
      font-size: 24px;
      color: $color_maroon;
      text-transform: uppercase;
      margin-bottom: 0.75rem;
    }
  }

  &_notifyMe {
    margin: 24px 0;
  }

  &_notifyMeLabel {
    margin-bottom: 8px;
  }

  &_notifyMeOptions {
    & > span
    {
      display: flex;
    }
  }

  &_propertyFooterContainer {
    button
    {
      &:disabled
      {
        cursor: not-allowed;
      }

      &:last-child
      {
        @extend .btn-orange;
        color: $color_white !important;
      }
    }
  }

  &_notifyMeOption {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    position: relative;
    margin: 0;

    &[class*="checked"]
    {
      label::after
      {
        background-color: rgba($color_black, 1);
      }
    }

    &:first-child {
      margin-right: 20px;
    }
  }

  &_notifyMeRadio {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    opacity: 0;
    cursor: pointer;

    &:checked {
      & + label {
        &::after {
          background-color: rgba($color_black, 1);
        }
      }
    }
  }

  &_notifyMeRadioLabel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    position: relative;
    line-height: 16px;
    margin: 0;
    padding: 0 15px 0 calc(20px + 5px);
    height: 28px;
    flex-grow: 1;

    &::before,
    &::after {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      margin: 0;
      padding: 0;
      border-radius: 100%;
      width: 20px;
      height: 20px;
    }

    &::before {
      border: solid 2px $color_black;
    }

    &::after {
      background-color: rgba($color_black, 0);
      width: 10px;
      height: 10px;
      left: 5px;
    }
  }

  &_notifyMeInputWrapper {
    margin-top: 20px;

    p {
      margin-bottom: 10px;
    }
  }

  &_notifyMeInput {
    width: 100%;
    height: 50px;
    border: 1px solid rgba($color_black, 0.25);
    border-radius: 2.5px;
    padding: 0 1rem;

    &:focus,
    &:active {
      outline: 0;
      box-shadow: none;
    }
  }

  &_notifyMeIconButton {
    margin-right: 5px;
  }

  &_errorAddCart
  {
    width: 450px;
    background: $color_white;
    padding: 2rem;
    text-align: center;
    border-radius: 5px;

    @media screen and (max-width: 576px) {
      width: 100%;
    }
  }

  &_errorAddCartTitle
  {
    font-family: "Poppins-bold";
    font-size: 18px;
    margin-bottom: 1rem;
  }

  &_errorAddCartDesc
  {
    font-size: 16px;
    margin-bottom: 0;
  }

  &_review {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;

    &Inner {
      width: 50%;

      @media screen and (max-width: 767px) {
        width: 100%;
      }
    }

    &ImageContainer {
      display: flex;
      gap: 8px;
      flex-wrap: nowrap;
      overflow-x: auto;
      padding-bottom: 13px;
      margin-top: 12px;
    }

    &Image {
      cursor: pointer;
      width: 86px;
      height: 86px;
      min-width: 86px;

      img {
        width: 86px;
        height: 86px;
      }
    }

    &Filters {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
      font-size: 14px;
      margin-top: 12px;
    }

    &Filter {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: .25rem;
      background-color: transparent;
      cursor: pointer;

      margin-bottom: 8px;
      border: 2px solid #f2f2f2;
      padding: 6px 12px;
      background: transparent;
    }

    &FilterInput {
      appearance: none;
      cursor: pointer;

      &:checked + label {
        background-color: #a0aec0;
        background-color: rgba(160, 174, 192, var(--bg-opacity));
        border-width: 0;
        border-radius: .25rem;
      }
    }

    &ActiveFilter {
      border: 2px solid $color_orange;
    }

    &FilterIcon {
      margin-left: 4px;
      color: #F1B208;
    }

    &FilterLabel {
      cursor: pointer;
      margin: 0;
    }

    &ListContainer {
      padding-top: 23px;
      padding-bottom: 30px;
      border-bottom: 1px solid #f2f2f2;
    }

    &ListStarContainer {
      margin-right: 6px;

      & ~ span {
        font-size: 9px;
        line-height: 13px;
      }
    }

    &ListDescription {
      padding-top: 14px;
      font-size: 14px;
      line-height: 21px;
      color: #666666;
    }

    &ListImageContainer {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      gap: 8px;
      padding-bottom: 13px;
      overflow: auto;
      margin-top: 14px;
    }

    &ListImage {
      width: 86px;
      height: 86px;
      min-width: 86px;

      img, video {
        object-fit: cover;
        cursor: pointer;
        width: 86px;
        height: 86px;
      }
    }

    &ListFooter {
      display: flex;
      gap: 8;
      margin-top: 21px
    }

    &ListAuthor {
      text-transform: capitalize;
      font-weight: 500;
      font-size: 11px;
    }

    &ListDate {
      font-size: 11px;
      margin-left: 8px;
      color: #A2A2A2;
    }

    &PopupContainer {
      height: 100vh;
      width: 100vw;
      display: flex;
      justify-content: center;
      top: 0;
      left: 0;
      z-index: 50;
      overflow-y: scroll ;
      position: fixed;
      align-items: center;
      background: #00000047;
    }

    &PopupImagePopup {
      position: relative;

      img,
      video {
        width: 100%;
        height: 50vh;
        height: 334px;

        @media screen and (max-width: 767px) {
          height: 234px;
        }
      }
    }

    &PopupLeftButton,
    &PopupRightButton {
      display: flex;
      justify-content: center;
      align-items: center;
      background: #333333;
      width: 32px;
      height: 32px;
      font-size: 25px;
      margin: 0;
      position: absolute;
      top: 43%;
      border: none;
      z-index: 10;

      svg {
        width: 10px !important;
      }

      @media screen and (max-width: 767px) {
        padding: 3px 9px;
      }

      &:disabled {
        color: #fff;
        background-color: rgba(226, 232, 240, var(--bg-opacity));
      }
    }

    &PopupLeftButton {
      left: 0;
    }

    &PopupRightButton {
      right: 0;
    }

    &PopupButtonClose {

    margin: 12px;
    color: gray;
    height: 20px;
    width: 20px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    cursor: pointer;

    top: -10px;
    right: -10px;
    }

    &PopupImagePreview {
      cursor: pointer;
      object-fit: cover;
      margin-right: 10px;
      margin-top: 10px;
      min-width: 64px;

      img, video {
        height: 64px;
        width: 64px;
        opacity: 0.5;

        &:hover {
          opacity: 1;
        }
      }
      .selected {
        opacity: 1;
      }
    }

    &PopupPreview {
      display: flex;
      flex-wrap: nowrap;
      padding-bottom: 13px;
      max-width: inherit;
      overflow: auto;
    }

    &ItemPerPageOptions {
      display: flex;
      align-items: center;

      select {
        border-radius: .25rem;
        cursor: pointer;
        border: 2px solid #f2f2f2;
        padding: 5px;
        background: transparent;
      }
    }

    &ItemPerPage {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 8px;
      margin-top: 26px;
    }

    &SortOptions {
        border-radius: .25rem;
        cursor: pointer;
        border: 2px solid #f2f2f2;
        padding: 6px;
        background: transparent;
    }

    &PopupContent {
      position: relative;
      background-color: #fff;
      padding: 20px;
      display: flex;
      flex-direction: column;
      max-width: 66.6666vw;
      border: 0.75rem;
      max-width: 40vw;
    }

    &ItemPerPageLabel {
      p {
        margin-bottom: 0;
      }
    }
  }


  &_buyNowBtn
  {
    height: 46px;
    width: 50%;
    margin-right: 15px;
    background-color: #2C3E50 !important;
    border-radius: 0 !important;

    @media screen and (max-width: 767px) {
      display: block;
      margin: 12px 0 0;
      width: 100%;
    }
  }

  &_addToCartBtn
  {
    padding: 0 !important;
    flex: 0;
    flex-grow: 1;
    height: 46px;
    width: 178px;
    margin-right: 12px;
    border-radius: 0 !important;

    @media screen and (max-width: 767px) {
      display: block;
      margin: 12px 0 0;
      width: 100%;
    }
  }

  &_addToCartBtn-product
  {
    // height: 46px;
    // width: 178px;
    margin-right: 12px;
    margin-top: 12px;
    border: 1px solid #2C3E50 !important;

    @media screen and (max-width: 767px) {
      display: block;
      margin: 12px 0 0;
      width: 100%;
      margin-bottom: 1rem;
    }
  }
}

.icon-star{
  font-size: 28px !important;
}

.reviews {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 3rem;
  margin-bottom: 2rem;

  @media screen and (max-width: 767px) {
    padding: 0;
  }

  &__ratings {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-left: auto;

    @media screen and (max-width: 767px) {
      width: 90%;
    }

    @media screen and (max-width: 575px) {
      width: 100%;
    }

    .reviews-stars {
      &__item {
        display: inline-block;
        padding: 3px;
        margin: 0;
        vertical-align: middle;
        line-height: 1;
        font-size: 1em;
        color: #ababab;
        transition: color 0.2s ease-out;

        &.is-selected {
          color: $color_orange;
        }
      }
    }

    &--detail {
      width: 40%;
      text-align: center;
      margin-right: 1rem;

      @media screen and (max-width: 575px) {
        margin-right: 0.5rem;
      }

      &-point {
        font-family: "Poppins-bold";
        font-size: 4rem;
        margin-bottom: 0;
      }

      &-total {
        font-size: 1.3em;
        color: $color_gray_text;
        margin: 0;
      }
    }

    &--slide {
      width: 70%;
      margin-left: 1rem;

      @media screen and (max-width: 575px) {
        margin-left: 0.5rem;
      }

      &-items {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0.5rem 0;

        & > span {
          margin: 0 0.5rem;
        }
      }

      .progressBar {
        background-color: #d8d8d8;
        border-radius: 20px;
        position: relative;
        height: 7.5px;
        width: 100%;

        &-done {
          background: $color_orange;
          border-radius: 20px;
          color: #fff;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;
          width: 0;
          opacity: 0;
          transition: 1s ease 0.3s;
        }
      }
    }
  }

  &__empty {
    padding: 2rem 0;
    text-align: center;

    &--icon {
      width: 3rem !important;
      height: 3rem !important;
    }

    &--title {
      font-family: "Poppins-bold";
      font-size: 1rem;
      text-transform: uppercase;
      margin: 1rem 0 0.5rem 0;
    }

    &--desc {
      color: $color_gray_text;
    }
  }

  &__list {
    width: 100%;
    margin-bottom: 2rem;

    &:last-child {
      margin-bottom: 0;
    }

    &--header {
      position: relative;
      display: flex;
      flex-direction: column;

      @media screen and (max-width: 575px) {
        display: block;
      }

      &-title {
        &-name {
          font-size: 1rem;
          font-family: "Poppins-bold";
        }
      }

      &-date {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 0.85rem;
        color: $color_gray_text;

        @media screen and (max-width: 575px) {
          position: inherit;
        }
      }
    }

    &--rating {
      &-star {
        outline: 0;
        box-shadow: none;
        border: none;
        background: none;
        padding: 0;
        margin-right: 0.25rem;

        &:focus,
        &:active {
          outline: 0;
          border: none;
        }

        & > span {
          font-size: 1.25rem;
          color: $color_orange;
        }
      }

      &-input {
        position: inherit !important;
        text-align: center;
        margin-bottom: 1rem;

        button {
          position: inherit !important;
          color: $color_orange;

          span {
            font-size: 2rem;
          }
        }
      }
    }

    &--content {
      margin-bottom: 0;
    }
  }

  &__inner {
    width: 650px;
    height: auto;
    max-height: 650px;
    padding: 1.5rem 2rem;
    align-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: $color_white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    overflow: scroll;

    @media screen and (max-width: 575px) {
      width: 100%;
      padding: 1.25rem;
    }

    &--container {
      display: block;
      padding: 1.5rem;
      border: 1px solid $color_gray_low;
      border-radius: 0.25rem;
      height: auto;
      max-height: 300px;
      overflow: scroll;

      @media screen and (max-width: 575px) {
        padding: 1rem;
      }
    }

    &--registered {
      padding: 3rem 0;
      text-align: center;

      h6 {
        font-size: 13px;

        a {
          margin: 0 0.25rem;
          color: #1c9aea;
        }
      }
    }
  }
}

.estimateShipping
{
  display: block;
  position: relative;
  margin: 24px 0 0;
  padding: 0;

  &_title
  {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    margin: 0 0 8px;
    padding: 0;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    letter-spacing: calc(12 * 3.5%);
    color: black;
  }

  &_showCourier
  {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    position: relative;
    margin: calc(-50px - 16px) auto 0;
    padding: 0;
    cursor: pointer;

    width: 100%;
    height: 50px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0 , 0);
  }

  &_detail
  {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    position: relative;
    margin: 0 0 16px;
    padding: 12px;
    background-color: white;
    border: solid 1px #D8D8D8;
    border-radius: 4px;
    overflow: hidden;

    min-height: 50px;

    &::after
    {
      content: "";
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      flex-wrap: nowrap;
      position: absolute;
      right: 16px;
      top: 0;
      bottom: 0;
      margin: 0;
      padding: 0;
      width: 24px;
      height: 50px;
      border: none;
      background-color: transparent;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 8px auto;
      background-image: url("data:image/svg+xml,%3Csvg width='7' height='10' viewBox='0 0 7 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.625 8.75L5.375 5L1.625 1.25' stroke='%232A2A2A' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    }

    &Logo
    {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      flex-wrap: nowrap;
      position: relative;
      margin: 0 48px 0 0;
      padding: 2px;
      border: solid 1px #CCC;
      border-radius: 2px;
      background-color: white;
      width: 34px;
      height: 24px;
      overflow: hidden;
      order: 2;

      & > img
      {
        display: block;
        position: relative;
        margin: 0 auto;
        padding: 0;
        max-width: 100%;
        border: none;
      }
    }

    &Cost
    {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      position: relative;
      margin: 0;
      padding: 0;
      font-weight: 400;
      font-size: 13px;
      line-height: 16px;
      order: 1;
    }
  }

  &_popup
  {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 1060;

    &Content
    {
      display: block;
      position: relative;
      margin: 0;
      padding: 0;
      background-color: white;
      border-radius: 3px;

      max-width: 428px;
      max-height: calc(100vh - 64px);
      overflow: auto;
      overflow-x: hidden;
      overflow-y: auto;

      @media screen and (max-width: 575px)
      {
        min-width: calc(100% - 30px);
        max-width: calc(100% - 30px);
        width: calc(100% - 30px);
      }
    }

    &Header
    {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      flex-wrap: nowrap;
      position: relative;
      margin: 0 0 16px;
      padding: 0 16px;
      min-height: 48px;

      border: none;
      border-bottom: solid 1px #e1e1e1;
    }

    &Title
    {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: nowrap;
      position: relative;

      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
    }

    &Close
    {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      flex-wrap: nowrap;
      position: relative;
      margin: 0 -16px 0 0;
      padding: 0;
      width: 48px;
      height: 48px;
      border: none;
      cursor: pointer;
      font-size: 0;
      color: rgba(255, 255, 255, 0);

      background-color: transparent;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 20px auto;
      background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 5L5 15' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M5 5L15 15' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    }

    &Body
    {
      display: block;
      position: relative;
      margin: 0 16px 16px;
      padding: 12px 12px 20px;

      background-color: rgba(224, 224, 224, .3);
      border-radius: 2px;
    }

    &LineInfo
    {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;
      flex-wrap: nowrap;
      position: relative;
      border: none;
      border-bottom: solid 1px #E1E1E1;
      margin: 0;
      padding: 12px 0;

      &:last-child,
      &:last-of-type
      {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        border-bottom: none;
        padding-bottom: 0;

        [class*="popupLabel"]
        {
          margin: 0 0 8px;
        }

        [class*="popupValue"]
        {
          flex-grow: 1;
          width: 100%;
        }

        [class*="css-"][class$="-container"]
        {
          width: 100%;
        }
      }
    }

    &Label,
    &Value
    {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: nowrap;
      position: relative;
      margin: 0;
      padding: 0;
      border: none;
    }

    &Label
    {
      margin: 0 12px 0 0;
      padding: 0;
      min-width: calc(25% - 12px);
      max-width: calc(25% - 12px);
      width: calc(25% - 12px);
      color: $color_gray_text_dark;

      font-weight: 400;
      font-size: 11px;
      line-height: 16px;
    }

    &Value
    {
      flex-grow: 1;

      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
    }

    &Provider
    {
      display: block;
      position: relative;
      margin: 0 0 16px;
      padding: 16px;

      &Item
      {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: nowrap;
        position: relative;
        margin: 0;
        padding: 0;
        width: 100%;
        min-height: 40px;
      }

      &Logo
      {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        position: relative;
        margin: 0 12px 0 0;
        padding: 2px;
        border: solid 1px #CCC;
        border-radius: 2px;
        background-color: white;
        width: 34px;
        height: 24px;
        overflow: hidden;

        & > img
        {
          display: block;
          position: relative;
          margin: 0 auto;
          padding: 0;
          max-width: 100%;
          border: none;
        }
      }

      &Label,
      &Value
      {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        position: relative;
      }

      &Label
      {
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        flex-grow: 1;
      }

      &Value
      {
        font-weight: 500;
        font-size: 11px;
        line-height: 16px;
        color: #666;
      }
    }
  }
}

.ratingReview {
  border-top: 7.5px solid $color_gray;
  border-bottom: 7.5px solid $color_gray;
  margin-bottom: 32px;
  padding: 0 6.3rem;

  @media screen and (max-width: 991px) {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  &_titleSection {
    font-family: "Poppins-medium";
    font-size: 24px;
    margin-top: 20px;

    @media screen and (max-width: 440px) {
      font-size: 14px;
    }
  }

  &_filters {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin: 22px 0;
    overflow-x: auto;
  }

  &_filter {
    font-size: 14px;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 4px;
    padding: 6px 12px;
    margin: 0 12px;
    cursor: pointer;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &_filterActive {
    border-color: #2C3E50;
  }

  &_filterLabel {
    display: flex;
    align-items: center;
    width: max-content;
    margin: 0;
    cursor: pointer;
  }

  &_filterInput {
    display: none;
  }

  &_filterIcon {
    margin-left: 5px;
    color: #2C3E50;
  }

  &_sort {
    margin: 22px 0;
  }

  &_sortOptions {
    width: max-content;
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
    -webkit-appearance: none;
    -moz-appearance: radio-container;
    appearance: none;
    padding-right: 35px;
    background: url("../../../public/images/arrow-down.svg") no-repeat;
    background-position: right 10px top 50%;

    &:focus,
    &:active {
      outline: 0;
      box-shadow: none;
    }
  }

  &_container {
    margin: 22px 0;
    border-bottom: 1px solid #D8D8D8;
  }

  &_starContainer {
    font-size: 18px !important;
    margin-right: 5px;
  }

  &_desc {
    margin: 22px 0;
    font-size: 14px;

    @media screen and (max-width: 440px) {
      font-size: 11px;
    }
  }

  &_date {
    transform: translateY(3px);
    margin-left: 8px;
    color: rgba(0, 0, 0, .7);
    font-size: 11px !important;

    @media screen and (max-width: 440px) {
      font-size: 9px;
      transform: translateY(0);
    }
  }

  &_imageContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  &_image {
    width: 80px;
    height: 80px;
    cursor: pointer;
    margin: 5px;
    border-radius: 4px;

    img,
    video {
      width: 80px;
      height: 80px;
      max-width: 80px;
      max-height: 80px;
      border: 1px solid $color_gray;
      border-radius: 4px;
      object-fit: cover;
    }
  }

  &_footer {
    margin: 22px 0;
    display: flex;
  }

  &_author {
    color: black;
    font-size: 14px;

    @media screen and (max-width: 440px) {
      font-size: 11px;
    }
  }

  &_itemPerPage {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 20px;
  }

  &_itemPerPageLabel {
    margin-right: 15px;
    p {
      margin: 0;
    }
  }

  &_itemPerPageOptions {
    select {
      padding: 6px 12px;
      border: 1px solid $color_gray_semi_dark;
      border-radius: 4px;
      background-color: $color_white;
    }
  }

  &_popupContainer {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &_popupContent {
    position: relative;
    width: 330px;
    background: $color_gray;
    border-radius: 5px;
    padding: 0 10px;
  }

  &_popupPreview {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: auto;
    margin: 10px 0 20px;
  }

  &_popupImage {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 300px;

    img,
    video {
      width: 330px;
      height: 300px;
      max-width: 330px;
      max-height: 300px;
      border: 1px solid $color_gray;
      border-radius: 4px;
      object-fit: cover;

      &:focus,
      &:active {
        outline: 0;
        box-shadow: none;
      }
    }

    video {
      width: 310px !important;
    }
  }

  &_popupImagePreview {
    width: 60px;
    height: 60px;
    margin: 0 5px;
    cursor: pointer;

    &:first-child {
      margin-left: 0;
    }

    img,
    video {
      width: 60px;
      height: 60px;
      max-width: 60px;
      max-height: 60px;
      border: 1px solid $color_gray_low;
      border-radius: 4px;
      object-fit: cover;
    }
  }

  &_popupLeftButton,
  &_popupRightButton {
    position: absolute;
    top: 45%;
    left: 0;
    background: rgba($color_white, 0.3);
    border: none;
    padding: 0.25rem;
    cursor: pointer;
  }

  &_popupRightButton {
    left: unset;
    right: 0;
  }

  &_popupButtonClose {
    padding: 15px 0;
    text-align: right;

    svg {
      cursor: pointer;
    }
  }
}

.pagination {
  margin: 0;
  margin-top: 2rem;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  &_item {
    padding: 0.5rem;
    margin: 0.25rem;
    list-style: none;
    cursor: pointer;
  }

  &_active {
    color: $color_blue;
    background: $color_blue_light;
    border: 1px solid $color_blue;
    border-radius: 4px;
  }
}

@media screen and (max-width: 575px) {
  .ratingReview {
    &_filters {
      padding-bottom: 22px;
    }

    &_filter {
      margin: 0 5px;
    }

    &_popupContainer {
      width: 100vw;
      height: 100vh;
      padding: 0 20px;
      -webkit-overflow-scrolling: auto;
    }

    &_popupContent {
      margin: 0 1rem;
      width: 100%;
      height: auto;
    }

    &_popupPreview {
      padding-bottom: 10px;
      margin-bottom: 10px;
    }

    &_popupImage {
      img,
      video {
        width: 100%;
        max-width: 100%;
      }
    }
  }
}

.productDetail{
  &-priceClassName{
    color: black !important;
    font-weight: bold;
    font-size: 30px !important;
  }
}

.product-detail {
  &_propertyFooterContainer {
    display: flex;
    flex-wrap: wrap;
  }

}

.productDetail {
  &-qtyWrapperClassName {
    flex-grow: 1;
    width: 100%;
  }
}