.instagramFeed {
  margin-top: 3rem;
  display: grid;
  margin: 0 13rem;
  grid-template-columns: 34% 16% 34% 16%;
  grid-template-rows: 230px 230px;
  grid-gap: 4px;
  grid-template-areas:
    "image1 image2 image4 image5"
    "image1 image3 image4 image6";

  @media screen and (max-width: 1366px) {
    margin: 0 7rem;
  }

  @media screen and (max-width: 768px) {
    grid-template-columns: 108px 108px 108px;
    grid-template-rows: 108px 108px;
    grid-template-areas:
      "image1 image2 image3"
      "image4 image5 image6";
  }

  &_media {
    &:first-child {
      grid-area: image1;
    }

    &:nth-child(2) {
      grid-area: image2;
    }
    &:nth-child(3) {
      grid-area: image3;
    }
    &:nth-child(4) {
      grid-area: image4;
    }
    &:nth-child(5) {
      grid-area: image5;
    }
    &:nth-child(6) {
      grid-area: image6;
    }
  }

  &_mediaLink {
    width: 200px;
    height: 200px;
  }

  &_mediaImage {
    width: 100%;
    height: 100%;
    -webkit-object-fit: cover;
    object-fit: cover;
  }

  &_quickviewBackground {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &_quickviewInner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: auto;
    max-height: 450px;
    align-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: $color_white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    overflow-y: auto;

    @media screen and (max-width: 991px) {
      width: calc(100% - 30px);
    }
  }

  &_quickviewButton {
    font-family: "Poppins-bold";
    font-size: 20px;
    width: 30px;
    height: 30px;
    background: $color_white;
    position: absolute;
    right: 10px;
    top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color_gray_text;
    z-index: 10;

    &:hover {
      color: $color_black;
    }

    &:focus,
    &:active {
      outline: 0;
      box-shadow: none;
    }
  }

  &_quickviewLink {
    width: 100%;
    height: 100%;
  }

  &_quickviewImage {
    width: 100%;
    height: 100%;
    max-height: 450px;
    object-fit: cover;
  }
}
