.paymentStatus
{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;

  &_inner 
  {
    width: 550px;
    padding: 1.5rem;
    text-align: center;
    align-items: center;

    @media screen and (max-width: 767px) {
      width: 100%;
    }
  }

  &_innerIconFailed
  {
    font-size: 5rem;
    color: $color_red;
    margin: 2rem 0;
  }

  &_innerIconWarning
  {
    font-size: 5rem;
    color: $color_orange;
    margin: 2rem 0;
  }
  
  &_title 
  {
    font-size: 22px;
    text-align: center;
    color: $color_black;
  }

  &_content
  {
    border: 1px solid $color_gray_low;
    border-radius: 3px;
    background: $color_gray;
    padding: 1rem;
  }

  &_contentTitle
  {
    color: $color_black;
    font-weight: 900;
  }

  &_contentDesc
  {
    color: $color_gray_semi_dark;
    margin-bottom: 0;
  }

  &_action
  {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &_actionButton
  {
    &:nth-child(2)
    {
      margin-left: 1rem;
    }
  }
}
