.categories {
  display: flex;
  justify-content: flex-end;
  margin: 0 1rem;

  &__item {
    display: flex;
    align-items: center;

    &:hover {
      cursor: pointer;
    }

    &--icon {
      width: 1em;
      margin-right: 10px;
    }
  }
}

.contain-product{
  padding-left: 6.3rem;
  padding-right: 6.3rem;

  &__category {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  @media screen and (max-width: 991px) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
.click-sort{
  display: none;
  @media screen and (max-width: 950px) {
      display: inline;
    }
}

.nonclick-sort{
  @media screen and (max-width: 950px) {
    display: none;
  }
}

.sort-items{
  display: flex;
  justify-content: flex-end;
  margin: 0 1rem;

  &__item {
    display: flex;
    align-items: center;

    svg {
      margin: 0 1rem 0 0 !important;
    }

    &--icon {
      width: 1em;
      margin-right: 10px;
    }
  }
}



.category
{
  background: $color_gray;

  &_order
  {
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow-x: scroll;
    align-items: center;
    margin-bottom: 0;
    padding: 0;
  }

  &_list
  {
    list-style: none;
    padding: 1rem;

    @media screen and (max-width: 576px) {
      padding: 1rem .5rem;
    }

    &:first-child
    {
      padding-left: 0;
    }

    &:last-child
    {
      padding-right: 0;
    }

    &_selected {
      & > div {
        & > a {
          div {
            padding: 0.5rem 1rem;
            background: $color_shade_madison;
            border: 1px solid $color_shade_madison;
            color: $color_white;
            border-radius: 34px;
            font-size: 1rem;
            cursor: pointer;
          }
        }
      }
    }

    &_link
    {
      &:hover
      {
        text-decoration: none;
      }
    }

    &_item
    {
      padding: .5rem 1rem;
      background: $color_white;
      border: 1px solid $color_gray_low;
      border-radius: 34px;
      font-size: 1rem;
      cursor: pointer;

      @media screen and (max-width: 576px) {
        font-size: 14px;
      }
    }
  }
}

.placeholderItem
{
  background: $color_placeholder;
  background: linear-gradient(to right, #eee 2%, #ddd 18%, #eee 33%);
  background-size: 1300px;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: placeholderAnimate;

  &_header
  {
    &__logo
    {
      width: 105px;
      height: 35px;
    }

    &__navMobile
    {
      height: 40px;
      width: 100%;
      margin-bottom: 1rem;
    }

    &__widget
    {
      height: 30px;
      width: 100%;
    }
  }

  &__banner
  {
    //height: 80vh;
    width: 100%;

    @media screen and (max-width: 991px){
      //height: 30vh;
    }
  }

  &__announcements
  {
    margin-top: 1rem;
    height: 10vh;
    width: 100%;
  }

  &_product
  {
    &__card
    {
      height: 225px;
      width: 100%;

      @media screen and (max-width: 575px){
        margin-bottom: 2rem;
      }
    }

    &__cardDetail
    {
      height: 500px;
      width: 100%;
    }

    &__title
    {
      height: 30px;
      width: 250px;
      margin-bottom: 2rem;

      @media screen and (max-width: 575px){
        margin: 1rem 0;
      }
    }

    &__list
    {
      height: 15px;
      width: 100%;
      margin-bottom: 1rem;
    }

    &__cart
    {
      width: 100%;
      height: 150px;
      border-radius: 5px;
      margin-bottom: 20px;
    }

    &__orderSummary
    {
      width: 100%;
      height: 50px;
      border-radius: 5px;
    }
  }

  &_productCat
  {
    &__title
    {
      width: 100%;
      height: 30px;
      margin: 1rem 0;
    }
  }

  &_cartPlaceorder
  {
    width: 100%;
    height: 100px;
    border-radius: 5px;
    margin-bottom: 15px;
  }

  &_cartPlaceorderTitle
  {
    width: 100%;
    height: 50px;
    border-radius: 5px;
  }

  &_placeorderForm
  {
    width: 100%;
    height: 50px;
    margin-bottom: 30px;
    border-radius: 3px;
  }

  &_customerDetail
  {
    width: 100%;
    height: 100px;
    margin-bottom: 30px;
    border-radius: 3px;
  }

  &_shippingMethod
  {
    width: 100%;
    height: 60px;
    margin-bottom: 20px;
    border-radius: 3px;
  }

  &_paymentMethod
  {
    width: 100%;
    height: 60px;
    margin-bottom: 20px;
    border-radius: 3px;
  }

  &_article
  {
    width: 100%;
    height: 400px;
    margin-bottom: 2rem;

    @media screen and (max-width: 575px) {
      height: 300px;
    }
  }

  &_footer
  {
    &__widgetTitle
    {
      height: 20px;
      width: 50%;
      margin-bottom: 1rem;
    }
  }

  &_blogsList
  {
    width: 100%;
    height: 150px;
    margin-bottom: 32px;
  }
}

@keyframes placeholderAnimate {
  0%{ background-position: -650px 0; }
  100%{ background-position: 650px 0; }
}

.top-head{
  background-color: #F1F2F7;
  padding-left: 6.3rem;
  padding-right: 6.3rem;
  height: 20vh;

  h3{
    line-height: 20vh;
    vertical-align: middle;
  }

  @media screen and (max-width: 991px) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.submit {
  position: absolute;
  left: -9999px;
  width: 1px;
  height: 1px;
}

.search-bar {
  outline: 0;
  border-width: 0 0 2px;
  padding: 10px;
  border-color: rgba(0, 0, 0, 0.3);
}

.paging {
  content: "\a";
  display: block;
  padding: 0;
  margin: 0;
  justify-content: center;
}

.paging li{
  display: inline;
}

input[type='checkbox'] {
  visibility: hidden;
}

input[type='checkbox']:after {
  width: 15px;
  height: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #fff;
  content: '';
  color: white;
  display: inline-block;
  visibility: visible;
  border: 2px solid #2C3E50;
}

input[type='checkbox']:checked:before {
  width: 15px;
  height: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #2C3E50;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid #2C3E50;
}

input[type='checkbox']:checked:after {
  transform: translateY(-21px);
  left: 1px;
  color: white;
  background-color: transparent;
  border: 0;
  content: "✓";
  display: inline-block;
  visibility: visible;

  @media screen and (max-width: 440px) {
    transform: translateY(-22px);
  }
}


.active_paging.item_paging{
  background-color: #fff;
  border: 1px solid #2C3E50;
  border-radius: 6px;
  .link_paging{
    text-align: center;
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
    color: #2C3E50;
    font-weight: bold;
  }
}

.item_paging{
  text-align: center;
  padding: 5px;
  margin-left: 5px;
  margin-right: 5px;
  border: 1px solid;
  border-radius: 6px;
}

.link_paging{
  text-align: center;
  padding: 5px;
  margin-left: 5px;
  margin-right: 5px;
  font-weight: bold;
}

.contain {
  @media screen and (max-width: 950px) {
    .sidebar {
      display: none;
    }
    padding: 0px;
  }
}

.section-sort{
  margin-top: 40px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.products {
  margin: 1rem 0;

  &_filterName {
    font-family: "Poppins-bold";
    font-size: 14px;
    margin-top: 1rem;
  }

  &_filterPrice {
    position: relative;
    width: 100%;

    /*Chrome*/
    @media screen and (-webkit-min-device-pixel-ratio: 0) {
      input[type="range"] {
        overflow: hidden;
        width: 100%;
        -webkit-appearance: none;
        background-color: $color_gray_semi_dark;
        outline: 0;
        box-shadow: none;
        border-radius: 3px;
      }

      input[type="range"]::-webkit-slider-runnable-track {
        height: 15px;
        -webkit-appearance: none;
        color: $color_orange;
        margin-top: -1px;
      }

      input[type="range"]::-webkit-slider-thumb {
        width: 15px;
        height: 15px;
        -webkit-appearance: none;
        cursor: ew-resize;
        background: $color_black;
        box-shadow: -80px 0 0 80px $color_orange;
      }
    }

    /** FF*/
    input[type="range"]::-moz-range-progress {
      background-color: $color_orange;
    }

    input[type="range"]::-moz-range-track {
      background-color: $color_gray_semi_dark;
    }

    /* IE*/
    input[type="range"]::-ms-fill-lower {
      background-color: $color_orange;
    }

    input[type="range"]::-ms-fill-upper {
      background-color: $color_gray_semi_dark;
    }
  }

  &_filterPriceLabel {
    margin: 10px 0 20px 0;

    &> .filter-maxPriceLabelClassName {
      display: inline-block;
      padding: 10px;
      border: 1px solid #cccccc;
      border-radius: 3px;

      p {
        margin-bottom: 0 !important;
      }

      .filter-filterPriceInputClassName {
        display: block;
        width: 100%;
        height: calc(1.5em + 0.75rem + 2px);
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1 px solid #ced4da;
        border-radius: 0.25rem;
        -webkit-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      }
    }
  }

  &_filterOptionLabel {
    display: flex;
    align-items: center;

    & > input {
      margin-right: 10px;
    }
  }

  &_filterSlider {
    position: relative;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 2.5rem;
  }

  &_filterSliderRail {
    position: absolute;
    width: 100%;
    height: 5px;
    border-radius: 7px;
    background-color: $color_gray_low;
    cursor: pointer;
    pointer-events: none;
  }

  &_filterSliderHandle {
    position: absolute;
    z-index: 2;
    margin-top: -8px;
    margin-left: -10px;
    width: 20px;
    height: 20px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    border: 4px solid #3B96CB;
    background-color: #3B96CB;
    cursor: pointer;
  }

  &_filterSliderTrack {
    position: absolute;
    height: 5px;
    background-color: #3B96CB;
    border-radius: 7px;
    cursor: pointer;
  }

  &_filterSliderTooltip {
    position: absolute;
    margin-left: -50px;
    margin-top: -35px;
  }

  &_filterSliderTooltipContainer {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted $color_gray_high_dark;
    margin-left: 20px;
  }

  &_filterSliderTooltipText {
    width: 100px;
    background-color: $color_gray_high_dark;
    color: $color_white;
    opacity: 0.8;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -20px;

    &::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: $color_gray_high_dark transparent transparent transparent;
    }
  }
}

.products-categories {
  &__list {
    list-style: none;
    margin: 0;
    padding: 0;

    &--items {
      margin: 1rem 0;

      &-container {
        display: flex;
      }

      &-icon {
        cursor: pointer;

        .category-icon {
          height: 1em;
          margin-left: 1rem;
        }
      }

      &-selected {
        .products-categories__list--items-value-name {
          font-family: "Poppins-bold";
        }
      }

      &-value {
        &-name {
          text-transform: capitalize;
        }
      }
    }
  }
}

.products-sort {
  &::after {
    content: "▾";
    position: absolute;
    z-index: 2;
    top: 9px;
    right: 25px;
  }

  & > p {
    display: none;
  }

  select {
    transform: translateY(-8px);
    /* styling */
    background-color: white;
    border: thin solid #eee;
    border-radius: 4px;
    display: inline-block;
    max-width: 100%;
    font-weight: bold !important;
    font: inherit;
    line-height: 1.5em;
    padding: 0.5em 3.5em 0.5em 1em;

    /* reset */

    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
  }


  &__list {
    list-style: none;
    margin: 0;
    padding: 0;

    &--items {
      margin: 1rem 0;

      &-button {
        background: transparent;
        padding: 0;
        border: none;

        &:focus,
        &:active {
          color: $color_orange;
          outline: 0;
          border: none;
          box-sizing: none;
        }

        &:hover {
          color: $color_orange;
        }
      }
    }
  }
}

.opsi{
  background-color: $color_white;
  pointer-events: none;

  &-selected{
    background-color: #2C3E50;
  }
}

.text-capitalize {
  font-size: 32px;
  font-weight: bold;

  @media screen and (max-width: 440px){
    font-size: 25px;
  }

  &-20 {
    font-size: 32px;
    font-weight: bold;

    @media screen and (max-width: 440px){
      font-size: 20px;
    }
  }
}

.category_order{
  overflow-x: auto;
  &::-webkit-scrollbar {
    height: 9px;
  }

  &::-webkit-scrollbar-track {
    background-color: white;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #E8E9E8;
    border-radius: 100px;
  }
}

.sidebar {
  padding: 0;
}