$color_black: #000;
$color_white: #fff;
$color_blue: #0091FE;
$color_gray: #F6F6F8;
$color_gray_light: #FAFAFA;
$color_gray_lighter: #EEEEEE;
$color_gray_lighterr: #ECECEC;
$color_gray_low: #ced4da;
$color_gray_semi_dark: #BDBDBD;
$color_gray_text: #A6A6A6;
$color_gray_text_dark:#6A6A6A;
$color_gray_high_dark: #2a2a2a;
$color_orange: #FBC02D;
$color_orange_low: #FDF2C5;
$color_orange_light: #fffaea;
$color_orange_dark: #eeb711;
$color_tosca: #51A186;
$color_green: #00BA3F;
$color_yellow: #FFFFF1;
$color_yellow_dark: #FECE6C;
$color_red: #F35656;
$color_danger: #F44444;
$color_maroon: #C42929;
$color_placeholder: #f6f7f8;
$color_navy: #003F8A;
$color_purple: #66008A;
$color_primary: #4F4F4F;
$color_backgroud: #F4F5F7;
$color_text: #C9CBCD;
$color_line: #E8E8E8;
$color_blue_dark: #1882b3;
$color_red_dark: #C42929;
$color_gray_dark: #767676;
$color_gray_primary: #dddddd;
$color_blue_light: #E9F5FA;
$color_blue_dark_light: #DBF1FF;
$color_red_error: rgba(244, 68, 68, 0.8);
$color_secondary: #969696;
$color_error: #F44444;
$color_green_track : #219653;
$color_green_track_low : #7fc29c;
$color_shade_pelorous: #2296CB;
$color_shade_heather: #BDC3C7;
$color_shade_eclipse: #403F3F;
$color_shade_gunmetal: #2D3436;
$color_shade_madison: #2C3E50;
$color_grey_black : #333333;