.customer-detail {
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  padding: 2rem 3rem;
  margin-bottom: 2rem;

  @media screen and (max-width: 575px) {
    padding: 1rem;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;

    &--left {
      color: $color_gray_text;

      &-title {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 3px;

        @media screen and (max-width: 575px) {
          font-size: 12px;
        }
      }

      &-subtitle {
        font-style: italic;
        margin-bottom: 0;

        @media screen and (max-width: 575px) {
          font-size: 12px;
        }
      }
    }

    &--right {
      &-link {
        font-size: 14px;
        font-weight: bold;
        color: #1c9aea;

        &:hover {
          color: #1c9aea;
          text-decoration: none;
        }
      }
    }
  }

  &__info {
    &--person {
      &-value:first-child {
        font-size: 14px;
        font-weight: bold;
      }

      &-value {
        font-size: 11px;
      }
    }
  }
}

.shipping-detail {
  &__provider {
    &--title {
      font-family: "Poppins-bold";
      font-size: 14px;
    }
  }
}

.payment-method {
  &__title {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  &__items {
    border: 1px solid #3A96CA;
    border-radius: 3px;
    margin-bottom: 1rem;
    font-size: 1rem;

    &--payment {
      display: flex;
      padding: 2rem 1rem 2rem 3rem;
      cursor: pointer;

      @media screen and (max-width: 575px) {
        padding: 1rem 1.5rem;
      }

      &-radio {
        margin-top: 2px;
        margin-right: 1rem;
        padding-right: 0;
      }

      & > p {
        margin-bottom: 0;
        font-size: 16px;
      }


      &-image {
        text-align: right;
        padding: 2rem 3rem 2rem 1rem;
        cursor: pointer;

        @media screen and (max-width: 575px) {
          text-align: left;
          padding: 0 1.5rem;
          padding-left: 3rem;
        }

        img {
          height: 25px;

          @media screen and (max-width: 575px) {
            margin-bottom: 1rem;
          }
        }
      }

      &-details {
        padding: 2rem 3rem 2rem 4.75rem;

        @media screen and (max-width: 575px) {
          margin-top: 1rem;
          padding: 1rem;
        }

        &-body {
          margin-bottom: 2rem;
        }

        &-table {
          position: relative;
          width: 100%;
          border-collapse: collapse;

          &-body {
            display: block;
            width: 100%;
          }

          &-row {
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding: 0.25rem 0;

            &:last-child {
              margin-top: 1rem;
              padding-top: 1rem;
              border-top: 1px solid rgba(0, 0, 0, 0.15);
              font-family: "Poppins-bold";
              font-size: 1.2rem;
              text-transform: uppercase;
            }

            &-label {
              display: flex;
              align-items: center;
              text-align: left;
            }

            &-value {
              text-align: right;
            }
          }
        }

        button {
          transition: .3s;
          border: 1px solid rgba(0, 0, 0, .3);

          &:hover{
            border: 1px solid rgba(0, 0, 0, .3);
          }
        }
      }

      &-footer {
        margin-top: 2rem;

        &-promotion {
          margin: 0.5rem 0;
        }

        &-point{
          &_toggle {
            @extend
              .btn,
              .btn-promotion,
              .btn-long;
            border: 1px solid rgba(0, 0, 0, .3);
          }
        }

        &-agreement {
          text-align: right;

          @media screen and (max-width: 575px) {
            text-align: left;
          }

          &-check {
            position: relative;
            top: 1px;
            margin-right: 0.5rem;

            &:checked:after {
              transform: translateY(-25px) !important;
            }
          }
        }

        &-button {
          text-align: right;
          margin: 1rem 0;

          button {
            transition: .3s;
            background-color: #2D3E51;

            &:hover{
              background-color: #2D3E51;
            }
          }
        }
      }

      &-warning {
        display: block;
        width: 100%;
        padding: 0 3rem;
        color: $color_red;
        font-size: 14px;
      }

    }

    &--overlay {
      position: fixed;
      z-index: 10;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.7);
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &--popup {
      padding: 1.5rem;
      background: $color_white;
      border-radius: 5px;
      position: relative;

      &-close {
        position: absolute;
        right: 0;
        top: 0;
        background: transparent;
        border: none;
        padding: 0.25rem 0.5rem;
        cursor: pointer;

        &:focus,
        &:active {
          outline: 0;
          border: none;
        }
      }

      &-form {
        &-container {
          margin-top: 1rem;
        }

        &-input {
          width: 300px !important;
          border-radius: 0 !important;
        }

        &-button {
          height: calc(2em + 1rem + 4px);
          border-color: #ced4da !important;
          border-left: 0 !important;
          border-top-left-radius: 0 !important;
          border-bottom-left-radius: 0 !important;
          border-radius: 0 !important;
        }
      }
    }
  }

  &__itemsDisabled
  {
    border-color: $color_gray_semi_dark;
    background: #e6e6e6;
  }

  &__empty {
    padding: 2rem 0;
    text-align: center;

    &--icon {
      width: 3rem !important;
      height: 3rem !important;
    }

    &--title {
      font-family: "Poppins-bold";
      font-size: 1rem;
      text-transform: uppercase;
      margin: 1rem 0 0.5rem 0;
    }

    &--desc {
      color: $color_gray_text;
    }
  }

  &_shippingPrice:first-of-type:not(:only-of-type) {
    text-decoration: line-through;
    margin-right: 8px;
    color: $color_red;

    @media screen and (max-width: 575px) {
      display: inherit;
      margin-right: 0;
    }
  }
}
