footer {
  .row.instagram-container {
    margin-right: 0;
    margin-left: 0;

    & > [class^="col-"],
    & > [class*=" col-"] {
      padding-right: 0;
      padding-left: 0;
    }

    @media screen and (max-width: 575px) {
      .instagram-items:nth-child(5),
      .instagram-items:nth-child(6) {
        display: none;
      }
    }

    .instagram-img {
      width: 100%;
    }
  }

  .footer {
    margin-top: 3rem;
    padding: 3rem 0;
    background-color: #242431;
    color: white;

    @media screen and (max-width: 575px) {
      padding-bottom: 0;
    }

    &__widget {
      font-size: 15px;

      h3 {
        font-family: "Poppins-bold";
        font-size: 16px;
        text-transform: none;
        margin-bottom: 23px;
        color: #FAC02C;
      }

      &-info {
        margin-bottom: 1.5rem;

        img {
          height: 35px;
          margin-bottom: 1rem;
        }

        p {
          margin-bottom: 0.5rem;
        }
      }

      &-links {
        padding-left: 3.5rem;

        a {
          color: white !important;
        }

        ul {
          list-style: none;
          margin: 0;
          padding: 0;

          li {
            margin-bottom: 0.5rem;

            a {
              text-decoration: none;
              color: white !important;
            }
          }
        }
      }

      &--socialMedia {
        margin: 1rem 0;
        color: white;

        .circle-icon {
          margin: 0 0.5rem;

          &:first-child {
            margin-left: 0;
          }

          &:last-child {
            margin-right: 0;
          }

          .icon-sosmed {
            font-size: 20px;
          }
        }
      }
    }

    &__mobile {
      &-widget {
        padding-left: 0;
        margin-bottom: 1rem;

        h3 {
          margin-bottom: 10px;
        }

        ul,
        .newsletter-mobile {
          display: none;
        }

        &.widget-1,
        &.widget-2,
        &.widget-3 {
          ul {
            display: block;
          }
        }

        &.widget-4 {
          .newsletter-mobile {
            display: block;
          }
        }
      }
    }

    .icon-down-footer {
      height: 1.5em;
      position: absolute;
      top: 0;
      right: 15px;
    }

    .newsletter {
      display: flex;
      justify-content: space-between;

      @media screen and (max-width: 1024px) {
        display: block;
      }

      &-label {
        display: none;
      }

      &-input {
        border: none;
        padding: 0.5rem;
        border-radius: 3px;

        &::placeholder {
          color: $color_gray_semi_dark;
        }

        &:focus {
          outline: 0;
          border: none;
        }

        @media screen and (max-width: 1024px) {
          display: block;
          width: 100%;
          margin-bottom: 10px;
        }

        @media screen and (min-width: 767px) {
          border-radius: 0;
          border-top-left-radius: 3px;
          border-bottom-left-radius: 3px;

          &-btn {
            border-radius: 0;
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
          }
        }
      }
    }

    &-bottom {
      padding: 1rem 0;
      font-size: 13px;
      text-align: center;
      text-transform: uppercase;
      background-color: #111011;
      color: white;

      & img, video, iframe
      {
        display: none !important;
      }

      div, h1, h2, h3, h4, h5, h6, p
      {
        text-align: center !important;
        font-size: 13px !important;
        margin-bottom: 0 !important;

        @media screen and (max-width: 575px) {
          font-size: 12px !important;
        }
      }

      @media screen and (max-width: 575px) {
        font-size: 12px;
      }
    }
  }

  @media screen and (max-width: 575px) {
    margin-bottom: 56px;
  }

  &.extras-margin-mobile {
    @media screen and (max-width: 575px) {
      margin-bottom: 186px;
    }
  }
}