.customer-detail {
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  padding: 2rem 3rem;
  margin-bottom: 2rem;

  @media screen and (max-width: 575px) {
    padding: 1rem;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;

    &--left {
      color: $color_gray_text;

      &-title {
        font-size: 14px;
        margin-bottom: 3px;

        @media screen and (max-width: 575px) {
          font-size: 12px;
        }
      }

      &-subtitle {
        font-style: italic;
        margin-bottom: 0;

        @media screen and (max-width: 575px) {
          font-size: 12px;
        }
      }
    }

    &--right {
      &-link {
        color: #1c9aea;

        &:hover {
          color: #1c9aea;
          text-decoration: none;
        }
      }
    }
  }
}

.shipping-method {
  &__title {
    font-size: 14px;
    margin-bottom: 1rem;
  }

  &__items {
    padding: 2rem 3rem;
    border: 1px solid $color_orange;
    border-radius: 3px;
    margin-bottom: 1rem;
    cursor: pointer;

    @media screen and (max-width: 575px) {
      padding: 1rem;
    }

    &.disabled {
      opacity: .5;
      pointer-events: none;
    }

    &--radio {
      margin-top: 2px;
      padding-right: 0;
    }

    &--name {
      padding-left: 0 !important;

      &-title {
        margin-bottom: 0;
        font-size: 16px;
        font-weight: bold;
      }
    }

    &--price {
      text-align: right;

      @media screen and (max-width: 575px) {
        text-align: left;
        padding-left: 0 !important;
      }

      &-title {
        margin-bottom: 0;
        font-size: 16px;
        font-weight: bold;
      }
    }
  }

  &__warningPinPoinText
  {
    font-style: italic;
    color: $color_orange;
  }

  &_errorAddCart
  {
    width: 450px;
    background: $color_white;
    padding: 2rem;
    text-align: center;
    border-radius: 5px;

    @media screen and (max-width: 576px) {
      width: 100%;
    }
  }

  &_errorAddCartTitle
  {
    font-family: "Poppins-bold";
    font-size: 18px;
    margin-bottom: 1rem;
  }

  &_errorAddCartDesc
  {
    font-size: 13px;
    margin-bottom: 0;
  }
}
