.btn {
  border-radius: 4px;
  font-size: 13px;

  &:active,
  &:focus {
    outline: 0;
    box-shadow: none;
  }

  &-orange {
    color: $color_white;
    background-color: $color_orange;

    &:hover {
      color: $color_white;
      background-color: $color_orange_dark;
    }
  }

  &-orange-outer {
    color: $color_orange !important;
    border: 1px solid $color_orange;

    &:hover {
      color: $color_white !important;
      background-color: $color_orange;
    }
  }

  &-black {
    color: $color_white;
    background-color: $color_black;
  }

  &-black-outer {
    color: $color_black;
    border: 1px solid $color_black;

    &:hover {
      color: $color_white;
      background-color: $color_black;
    }
  }

  &-promotion {
    position: relative;
    background: $color_white;
    color: $color_black !important;
    border-radius: 3px;
    display: flex;
    text-align: start;
    margin-bottom: 15px;
    width: 50%;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 767px) {
      width: 100%;
    }

    & > svg {
      @extend 
        .order-2,
        .ml-2,
        .order-summary__header--features-icon;
      margin-left: auto;
      color: $color_orange;
    }

    &:hover {
      background: $color_white;
      color: $color_black !important;
    }
  }

  &-full-width {
    width: 100%;
  }

  &-short {
    padding: 0.5rem 2rem;
  }

  &-long {
    padding: 0.75rem 4rem;

    @media screen and (max-width: 440px) {
      width: 100%;
      margin-bottom: 1rem;
    }
  }

  &-center {
    display: block;
    margin: 0 auto;
  }

  &-45 {
    @media screen and (max-width: 575px) {
      width: 45% !important;
      margin-bottom: 1rem;
    }

    &-pad {
      @media screen and (max-width: 767px) {
        width: 45% !important;
        margin-bottom: 1rem;
      }
    }
  }
}
