@import "../base/colors.scss";
@import "../components/Button.module.scss";

.bank
{
  &_information
  {
    background: $color_blue_light;
    border-radius: 3px;
    padding: 10px;
    text-align: center;
    margin: 24px 0px 24px 0px;
  }
  &_container
  {
    border: 1px solid $color_blue_light;
    margin-bottom: 24px;
  }
  &_header
  {
    padding: 12px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $color_blue_light;
  }
  &_logoBank {
    width: 50px;
    margin-right: 10px;
  }
  &_iconCollapse
  {
    border: none;
    background: none;
  }
  &_body
  {
    background: $color_blue_light;
    padding: 12px;
  }
  &_name {
    color: $color_blue;
  }
  &_infoAccount
  {
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding-bottom: 12px;
  }
  &_numberSection
  {
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding: 12px;
    background: $color_white;
  }
  &_buttonIcon
  {
    border: none;
    background: none;
  }
}