.lookbook {
  padding: 0;

  @media screen and (max-width: 575px) {
    padding: 0;
  }

  &__items {
    position: relative;
    margin-bottom: 1rem !important;
    border: 0px !important;

    &:hover &--details-links {
      transition: all 0.5s, transform 0.5s;
      opacity: 1;
    }

    &:hover &--details-label {
      transition: all 0.2s, transform 0.2s;
      top: 0;
    }

    &--images {
      width: 100%;
    }

    &--details {
      text-align: center;
      position: absolute;
      background: rgba(0, 0, 0, 0.5);
      bottom: 0;
      width: 100%;
      height: 60px;
      padding: 0.5rem 1rem;

      &-label {
        position: relative;
        font-family: "Poppins-bold";
        font-size: 18px;
        color: $color_white;
        margin-bottom: 5px;

        @media screen and (max-width: 440px) {
          font-size: 14px;
        }
      }

      &-links {
        opacity: 1;
        color: $color_white;

        &:hover {
          color: $color_white;
        }

        @media screen and (max-width: 440px) {
          font-size: 11px;
        }
      }
    }
  }
}

.lookbook-detail {
  padding: 0;

  @media screen and (max-width: 575px) {
    padding: 0;
  }

  &__items {
    margin-bottom: 13px;
    img {
      width: 100%;
    }
  }
}

.card-columns-categories {
  @media screen and (max-width: 575px) {
    column-count: 2 !important;
  }

  @media screen and (min-width: 575px) {
    column-count: 3 !important;
  }
}

.card-columns {
  @media screen and (max-width: 575px) {
    column-count: 2 !important;
  }

  @media screen and (min-width: 575px) {
    column-count: 3 !important;
  }
}
